<header class="page__footer grid">
    <div></div>
    <nav aria-label="Top level" class="page__nav">
        <ul>
            <li>♿ <a href="/accessibility">Accessibility</a>
            <li>👩‍💻 <a href="/site">About the site</a>
        </ul>
    </nav>
</header>