<footer class="page__footer grid">
    <div></div>
    <nav aria-label="Footer" class="page__nav">
        <ul>
            <li>♿ <a href="/accessibility">Accessibility</a>
            <li>👩‍💻 <a href="/site">About the site</a>
            <li>⬆️ <a href="#top">Back to top</a></li>
        </ul>
    </nav>
</footer>