<header class="page__header grid">
    <a href="/" class="page__title">
        <span class="visually-hidden">Frills</span>
        {% include "structure/components/logo.njk" %}

    </a>
    {% include "structure/global/nav.njk" %}
    <div class="settings">
        {# <label>
        Light mode
        <input type="checkbox">
    </label>
    <label>
        Reduce animation
        <input type="checkbox">
    </label> #}
    </div>
</header>