{% import "structure/components/components.njk" as macro with context %}
<header class="page__header grid grid--header">
    <a href="/" class="page__logo">
        <span class="visually-hidden">Homepage</span>
        {% include "structure/components/logo.njk" %}
    </a>
    {% include "structure/global/nav.njk" %}
    <div class="settings noscriptHide">
        <button id="colorSchemeButton" class="button ghost toggle toggle--colorscheme">
            Toggle dark theme
        </button>
    </div>
    <aside class="ribbon-wrapper">
        <a href="https://js-naked-day.org/" class="ribbon">JS Naked Day</a>
    </aside>
</header>