{% import "structure/components/components.njk" as macro with context %}
<noscript><div class="pt-2">
{{ macro.callout(
		element = 'article',
		modifiers = 'callout--small callout--warning mb-0',
		header = '<h2>🛠️ Your JavaScipt is disabled</h2>',
		body = '
			<p>This website uses JavaScript, please read <a href="/Site#javascript">About the Site</a> to understand why</p>
	') }}</div></noscript>

<header class="page__header grid grid--header">
    <a href="/" class="page__logo">
        <span class="visually-hidden">Frills</span>
        {% include "structure/components/logo.njk" %}
    </a>
    {% include "structure/global/nav.njk" %}
    <div class="settings">
        <button id="spookyButton" class="button ghost toggle toggle--spooky">
            Toggle spooky theme
        </button>
        <button id="colorSchemeButton" class="button ghost toggle toggle--colorscheme">
            Toggle dark theme
        </button>
    </div>
</header>