<nav aria-label="Top level" class="page__nav">
    <ul>
        {#  <li>🌿 <a href="/ethos">Ethos</a>
            <li>👽 <a href="/experiments">Experiments</a>
            <li>✨ <a href="/credits">Credits</a>
            <li>🦄 <a href="#">Other</a> #}
        {%- for entry in collections.all | eleventyNavigation %}
        <li>{{ entry.emoji|safe }} <a href="{{ entry.url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a></li>
        {%- endfor %}
    </ul>
</nav>