<nav aria-label="Top level" class="page__nav page__nav--top">
        <ul>
            {%- for entry in collections.all | eleventyNavigation %}
            <li class="{{ entry.title | slug}}">{{ entry.emoji|safe }} <a href="{{ entry.url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a></li>
            {%- endfor %}
        </ul>
    </nav>