<nav aria-label="Top level" class="page__nav">
    <ul>
        <li>{{ entry.emoji|safe }} <a href="{{ entry.url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a></li>
        {%- endfor %}
    </ul>
</nav>