html {
  font-size: var(--font-size);
  line-height: 1.5
}

body {
  font-family: var(--font-family);
  color: var(--text);
  padding: 0;
  margin: 0;
  background-color: var(--bg);
}

*:focus-visible {
  outline: 3px solid orangered;
  outline-offset: 5px;
}

*::selection {
  color: var(--accentcontrast);
  background-color: var(--accent);
}
