img {
  font-size: 10px;
  max-width: 100%;
}

.onlinenow {
  image-rendering: crisp-edges;
  transform: translateY(1px);
  margin: 0 4px;
}


html[data-scheme='light'] .invert--lightmode {
  filter: invert(1) brightness(100%) grayscale(1);
}

@media (prefers-color-scheme: light) {
  .invert--lightmode {
  filter: invert(1) brightness(100%) grayscale(1);
  }
}