.page {
  background-color: var(--bg);
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .page {
    padding: 0 1.5rem;
  }
}

@media (min-width: 992px) {
  .page {
    padding: 0 4rem;
  }
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

/* Header */
.page__header {
  padding: 1.5rem 0 0 0;
}

@media (min-width: 768px) {
  .page__header {
    padding: 3rem 0 0 0;
  }
}

/* Main */
.page__main {
  padding: 1.5rem 0 0 0;
}

@media (min-width: 768px) {
  .page__main {
    padding: 3rem 0 0 0;
  }
}

/* Footer */
.page__footerbg {
  background-color: var(--bodybg);
  mask: var(--wiggleup);
}

.page__footer {
  max-width: 1600px;
  margin: 2rem auto 0 auto;
  padding: 2.5rem 1rem 1.5rem 1rem;
}

@media (min-width: 768px) {
.page__footer {
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  }
}

@media (min-width: 992px) {
.page__footer {
    padding: 2.5rem 4rem 2rem 4rem;
  }
}