.page {
  background-color: var(--bg);
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .page {
    padding: 0 1.5rem;
  }
}

@media (min-width: 992px) {
  .page {
    padding: 0 4rem;
  }
}

/* Header */
.page__header {
  padding: 1.5rem 0 0 0;
}

@media (min-width: 768px) {
  .page__header {
    padding: 3rem 0 0 0;
  }
}

/* Main */
.page__main {
  padding: 1.5rem 0 0 0;
}

@media (min-width: 768px) {
  .page__main {
    padding: 3rem 0 0 0;
  }
}

/* Footer */
.page__footer {
  padding: 3rem 0 1rem 0;
}