h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2
}

*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6 {
  padding: 1rem 0 0 0;
}

h1 {
  font-size: 2rem
}

h2 {
  font-size: 1.5rem
}

h3 {
  font-size: 1.2rem
}

h4,
h5,
h6 {
  font-size: 1rem
}

.h-sm h1,
.h-sm h2,
.h-sm h3,
.h-sm h4,
.h-sm h5 {
  font-size: 1rem;
}

a {
  text-decoration: underline;
  color: var(--link);
  text-underline-offset: 2px;
}

a:visited {
  color: var(--linkvisited)
}

a:hover,
a:focus {
  color: var(--linkhover)
}

a.hidden,
a.hidden:visited {
  text-decoration: inherit;
  color: inherit;
}

a:hover,
a:focus,
a:active,
a.hidden:hover,
a.hidden:focus,
a.hidden:active {
  color: var(--linkhover);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
  text-underline-offset: 2px;
}

p {
  margin: 0 0 1rem
}

.highlight,
em {
  font-style: normal;
  color: var(--highlight);
}

.small {
  font-size: 80%;
}

.blockquote,
blockquote {
  margin-left: 0;
  padding-left: 1.5rem;
  margin: 0 0 1rem 0;
  color: var(--quote);
  background-color: var(--bodybg);
  padding: 0.5rem 1rem;
  border-radius: 1rem 1rem 1rem 0;
}

blockquote cite {
  display: block;
  margin-top: 1rem;
  font-style: normal;
  color: var(--quote);
}

blockquote cite a:link,
blockquote cite a:visited {
  color: var(--quote);
}

blockquote cite::before {
  content: '— ';
  color: var(--quote);
}

blockquote p:last-child {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .reading-width figure.card {
      margin-left: -3rem;
      margin-right: -3rem;
    }
}