html[data-scheme='dark'][data-christmas='true'] {
  --bodybg: #1e1e1e;
  --bg: Black;
  --accent: #ff6262;
  --interactive: Red;
  --link: #ff6262;
  --linkaccent: #731f00;
  --linkhover: #6db847;
  --text: LavenderBlush;
  --dashboard-bg: #c91c1c;
  --dashboard-outline: #701010;
  --callout-info: limegreen;
  --logo-anim-1: snow;
  --logo-anim-2: snow;
  --logo-anim-3: #da3535;
  --logo-anim-4: #da3535;
  --logo-anim-5: #6db847;
  --logo-anim-6: #6db847;
}

html[data-scheme='light'][data-christmas='true'] {
    --bodybg: Lavender;
    --bg: Snow;
    --subtext: Darkred;
    --interactive: #4b7f31;
    --accent: #2e4e1e;
    --link: #cd0000;
    --linkaccent: #d56666;
    --linkhover: Green;
    --text: Black;
    --dashboard-bg: #8acf8a;
    --dashboard-outline: #cae9ca;
    --callout-info: red;
    --logo-anim-1: Darkgreen;
    --logo-anim-2: Darkgreen;
    --logo-anim-3: DarkRed;
    --logo-anim-4: DarkRed;
    --logo-anim-5: Green;
    --logo-anim-6: Green;
}

.toggle--christmas {
  /* display: none; */
}

.toggle--christmas::before {
  content: '🎅';
  font-size: 1rem;
}

[data-christmas="true"] ul.stars li::before,
[data-christmas="true"] ol.stars li::before {
  content: '🎁';
}