html[data-scheme='dark'][data-spooky='true'] {
  --bodybg: #1e1e1e;
  --bg: Black;
  --accent: Gold;
  --interactive: OrangeRed;
  --link: OrangeRed;
  --linkaccent: #731f00;
  --linkhover: LawnGreen;
  --text: LavenderBlush;
  --pink: DeepPink;
  --dashboard-outline: Indigo;
  --logo-anim-1: OrangeRed;
  --logo-anim-2: OrangeRed;
  --logo-anim-3: OrangeRed;
  --logo-anim-4: LawnGreen;
  --logo-anim-5: LawnGreen;
  --logo-anim-6: LawnGreen;
}

html[data-scheme='light'][data-spooky='true'] {
    --bodybg: LavenderBlush;
    --bg: Snow;
    --interactive: #e1007a;
    --accent: #d73a00;
    --link: BlueViolet;
    --linkaccent: Thistle;
    --linkhover: Green;
    --text: Black;
    --pink: DeepPink;
    --dashboard-outline: LawnGreen;
    --logo-anim-1: BlueViolet;
    --logo-anim-2: BlueViolet;
    --logo-anim-3: OrangeRed;
    --logo-anim-4: OrangeRed;
    --logo-anim-5: Green;
    --logo-anim-6: Green;
}


.toggle--spooky::before {
  animation-name: shake;
  animation-duration: 15s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

[data-spooky='true'] .toggle--spooky::before {
  animation: none;
}

[data-spooky="true"] ul.stars li::before,
[data-spooky="true"] ol.stars li::before {
  content: '👻';
}