---json
{
  "permalink": "all.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Frills",
    "subtitle": "All blog posts and updates from Frills",
    "language": "en-GB",
    "url": "https://frills.dev/",
    "author": {
      "name": "Frills",
      "email": "fri11s@proton.me"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/css" href="/css/xml.css"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.subtitle }}</description>
    <language>{{ metadata.language }}</language>
    <ttl>1440</ttl>
    {%- for post in collections.all | reverse %}
    {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
    {%- if post.data.rss %}
    <item>
      {%- if post.data.title|length %}
      <title>{{ post.data.title }}</title>
      {%- else %}
      <title>{{ post.date | readableDate("d LLL yyyy") }}</title>
      {%- endif %}
      {%- if post.data.tags == 'bookmarks' %}
      <link>{{ post.data.url }}</link>
      {%- else %}
      <link>{{ absolutePostUrl }}</link>
      {%- endif %}
      {%- if post.data.description %}
      <description>{{ post.data.description | striptags(true) | escape | nl2br }}</description>
      {% endif -%}
      {%- if post.data.updated %}
      <pubDate>{{ post.data.updated | dateToRfc822 }}</pubDate>
      {%- else %}
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      {%- endif %}
      {%- if post.data.tags == 'bookmarks' %}
      <guid>{{ post.data.url }}</guid>
      {%- else %}
      <guid>{{ absolutePostUrl }}</guid>
      {%- endif %}
    </item>
    {%- endif -%}
    {%- endfor %}
  </channel>
</rss>