---json
{
  "permalink": "rss.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Frills - Blog & experiments",
    "subtitle": "Personal blog and experiments from Frills",
    "language": "en-GB",
    "url": "https://frills.dev/blog",
    "author": {
      "name": "Frills",
      "email": "fri11s@proton.me"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/css" href="/css/xml.css"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.subtitle }}</description>
    <language>{{ metadata.language }}</language>
    {%- for post in collections.all | reverse %}
    {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
    {% if post.data.tags and (post.data.tags.includes('posts') or post.data.tags.includes('experiments')) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      {% if post.data.description %}
      <description>{{ post.data.description | striptags(true) | escape | nl2br }}</description>
      {% endif %}
      {% if post.data.updated %}
      <pubDate>{{ post.data.updated | dateToRfc822 }}</pubDate>
      {% else %}
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      {% endif %}
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {% endif %}
    {%- endfor %}
    </channel>
</rss>