:root {
  /*--purple: #10002E;*/
  /*--purple-shade1: #190047;*/
  /*--purple-shade2: #623ba9;*/
  /*--purple-shade3: #9575d0;*/
  /*--off-white: #F0E8FF;*/
  /*--pink: #fe24a9;*/
  /*--yellow: #ffd700;*/
  /*--blue: #2fe3ff;*/
  /*--green: #3cff3c;*/
  
  --bodybg: #dbf0ca;
  --bg: #f5ffed;
  --border: #043800;
  --link: #064e00;
  --linkhover: #e1047e;
  --text: #064e00;
  --callout: #dbf0ca;
  --lightcolor: #f5ffed;
  --midcolor: #edffde;
  --darkcolor: #043800;
  --pink: #e1047e;
  --font-size: 14px;
}

@media (min-width: 576px) {
  :root {
    --font-size: 20px;
  }
}

/* Base */
html {
  font-family: sans-serif;
  font-size: var(--font-size);
  line-height: 1.4;
}

body {
  background-color: var(--bodybg);
  color: var(--text);
  min-height: 100vh;
  /* text-transform: lowercase; */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

a {
  color: var(--link);
  transition: 0.3s ease color;
}

a:hover,
a:focus {
  color: var(--linkhover);
}

*:focus-visible {
  outline: 3px solid orangered;
}

ul, ol {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

p {
  margin: 0 0 1rem;
}

/* Structural */

.container {
  width: 100%;
  max-width: 43.75rem;
}

.center {
    margin: 0 auto;
}

.header {
  border: 1px solid var(--blue);
}

.header h1 {
  font-family: 'Cherry Bomb One', sans-serif;
  font-size: 3rem;
  font-display: fallback;
}

.main {
  flex: 2;
  border: 1px solid var(--border);
  background-color: var(--bg);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.footer {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.callout {
  background-color: var(--callout);
  padding: 0.5rem 1rem;
  margin: 0 0 0.5rem 0;
  border-radius: 6px;
}

.twocol {
  column-count: 2;
}

/* Helpers */

h1.inline,
h2.inline,
h3.inline,
h4.inline,
h5.inline,
h6.inline {
  font-size: inherit;
  display: inline;
}

ul.inline, ol.inline {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  row-gap: 10px;
  column-gap: 15px;
  padding-left: 0;
  margin: 0;
}

ul.unstyled, ol.unstyled {
  list-style-type: none;
  padding-left: 0;
}

.pb-1 {
  padding-bottom: 1rem!important;
}

.pt-1 {
  padding-top: 1rem!important;
}
.py-1 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
.pb-2 {
  padding-bottom: 2rem!important;
}

.pt-2 {
  padding-top: 2rem!important;
}
.py-2 {
  padding-top: 2rem!important;
  padding-bottom: 2rem!important;
}

.sronly {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
}

.emoji {
  font-size: 110%;
  line-height: 90%;
}

.lowercase {
  text-transform: lowercase;
}

.italic {
  font-style: italic;
}

/* Third Party */

#statuscafe #statuscafe-username a {
  font-weight: bold;
  text-decoration: none;
}
