:root {
  --bodybg: #202020;
  --bg: black;
  --border: gold;
  --link: DeepPink;
  --linkhover: springgreen;
  --text: LavenderBlush;
  --callout: hsl(332, 56%, 87%);
  --pink: DeepPink;
  --font-size: 16px;
}

@media (min-width: 576px) {
  :root {
    --font-size: 20px;
  }
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --bodybg: hsl(332, 20%, 5%);
        --bg: hsl(332, 5%, 9%);
        --border: hsl(332, 0%, 0%);
        --link: hsl(332, 68%, 60%);
        --linkhover: hsl(var(--contrast), 100%, 71%);
        --text: hsl(332, 56%, 87%);
        --callout: hsl(332, 9%, 4%);
    }
} */

html {
  font-family: sans-serif;
  font-size: var(--font-size);
  line-height: 1.4
}

body {
  font-family: 'Tahoma', sans-serif;
  color: var(--text);
  padding: 0;
  margin: 0;
  background-color: #202020;
  background:
    radial-gradient(circle at 100% 50%, transparent 20%, var(--bodybg) 21%, var(--bodybg) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, var(--bodybg) 21%, var(--bodybg) 34%, transparent 35%, transparent) 0 -100px;
  background-color: var(--bg);
  background-size: 150px 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  line-height: 1.2
}

h1 {
  font-size: 2rem
}

h2 {
  font-size: 1.5rem
}

h3 {
  font-size: 1.2rem
}

h4,
h5,
h6 {
  font-size: 1rem
}

a {
  text-decoration: underline;
  color: var(--link);
}

a.hidden {
  text-decoration: inherit;
  color: inherit;
}

a:hover,
a:focus,
a:active a.hidden:hover,
a.hidden:focus,
a.hidden:active {
  color: var(--linkhover);
  text-decoration: underline wavy 2px;
}

img.rounded {
  border-radius: 1rem;
}

img.round {
  border-radius: 50%;
}

a:hover,
a:focus {
  color: var(--linkhover)
}

*:focus-visible {
  outline: 3px solid orangered;
  outline-offset: 3px;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  row-gap: 8px;
  margin: 0 0 1rem 0;
}

ul.unstyled,
ol.unstyled {
  list-style-type: none;
  padding-left: 0;
}

p {
  margin: 0 0 1rem
}

.italic {
 font-style: oblique 10deg;
}

input {
  accent-color: violet;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.page {
  background-color: var(--bg);
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 14px;
  /* --mask:
    radial-gradient(33.82px at 46.40px 50%,#000 99%,#0000 101%) 0 calc(50% - 58px)/51% 116px repeat-y,
    radial-gradient(33.82px at -17.4px 50%,#0000 99%,#000 101%) 29px 50%/calc(51% - 29px) 116px repeat-y,
		radial-gradient(33.82px at calc(100% - 46.40px) 50%,#000 99%,#0000 101%) 100% calc(50% - 58px)/51% 116px repeat-y,
    radial-gradient(33.82px at calc(100% + 17.40px) 50%,#0000 99%,#000 101%) calc(100% - 29px) 50%/calc(51% - 29px) 116px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask); */
}

@media (min-width: 768px) {
  .page {
    padding: 0 56px;
  }
}

.page-header {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 0;
}

@media (min-width: 768px) {
  .page-header {
    padding: 60px 0 0 0;
  }
}

.page-title {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .page-title {
    margin-bottom: 0;
    justify-content: flex-start;
  }
}

@keyframes cl {
  0% {
    fill: hsl(0, 70%, 70%)
  }

  20% {
    fill: hsl(51, 70%, 70%)
  }

  40% {
    fill: hsl(102, 70%, 70%)
  }

  60% {
    fill: hsl(153, 70%, 70%)
  }

  80% {
    fill: hsl(204, 70%, 70%)
  }

  100% {
    fill: hsl(255, 70%, 70%)
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.frills {
  max-height: 60px;
  transform: translateX(30px)
}

@media (min-width: 768px) {
  .frills {
    max-width: 200px;
    max-height: none;
    transform: none;
  }
}

.frills-tx {
  fill: hsl(330, 70%, 70%)
}

@media (prefers-reduced-motion: no-preference) {
  .frills-tx {
    animation: cl 10s 0s infinite forwards alternate
  }

  .frills:hover .frills-x,
  .frills:focus .frills-x,
  .frills:active .frills-x {
    animation-name: blink;
    animation-fill-mode: normal;
    animation-iteration-count: infinite;
    animation-direction: backwards;
  }

  .frills-x {
    opacity: 0;
  }

  .frills-x:nth-child(3) {
    animation-delay: 0s;
    animation-duration: 2.3666666s;
  }

  .frills-x:nth-child(2) {
    animation-delay: 0.3s;
    animation-duration: 2.61111s;
  }

  .frills-x:nth-child(1) {
    animation-delay: 0.15s;
    animation-duration: 1.866666s;
  }
}

.page-nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  column-gap: 0.7rem;
  row-gap: 0.7rem;
  max-width: 30rem;
}

@media (min-width: 768px) {
  .page-nav ul {
    column-gap: 2rem;
    row-gap: 1.5rem;
    justify-content: flex-start;
    margin: 0;
  }
}

.page-nav ul li a {
  white-space: nowrap;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 26px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 240px 2fr 1fr;
  }
}

.page-main {
  padding: 60px 0 0 0;
}

.page-footer {
  padding: 60px 0;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section {
  /* border-radius: 1rem;
  border: 1px solid var(--border);
  padding: 1rem; */
}

.bio {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 26px;
}
@media (min-width: 768px) {
  .bio {
    grid-template-columns: 1fr;
  }
}

.bio-pic {
  max-width: 200px;
  margin-bottom: 1rem;
  --mask:
    radial-gradient(7.00px at 50% calc(100% - 9.60px),#000 99%,#0000 101%) calc(50% - 12px) 0/24px 100%,
    radial-gradient(7.00px at 50% calc(100% + 3.60px),#0000 99%,#000 101%) 50% calc(100% - 6px)/24px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

/* Webrings */
.webrings {
  display: flex;
  flex-direction: row;
  row-gap: 15px;
}

.webring__prev,
.webring__next,
.webring-prev,
.webring-next {
  font-size: 0 !important;
  width: 30px;
  display: inline-block;
  text-align: center;
}

.webring__prev::before,
.webring__next::before,
.webring-prev a::before,
.webring-next a::before {
  content: '➪';
  font-size: 1rem;
  display: inline-block;
}

.webring__prev::before,
.webring-prev a::before {
  transform: scaleX(-1);
  display: inline-block;
}
