:root {
    --hue: 332;
    --contrast: 92;
    --bodybg: hsl(var(--hue), 50%, 85%);
    --bg: hsl(var(--hue), 100%, 95%);
    --border: hsl(var(--hue), 100%, 11%);
    --link: hsl(var(--hue), 100%, 15%);
    --linkhover: hsl(327, 97%, 45%);
    --text: hsl(var(--hue), 100%, 15%);
    --callout: hsl(var(--hue), 56%, 87%);
    --pink: hsl(327, 97%, 45%);
    --font-size: 14px;
}

@media (min-width: 576px) {
    :root {
        --font-size: 20px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bodybg: hsl(var(--hue), 8%, 12%);
        --bg: hsl(var(--hue), 5%, 9%);
        --border: hsl(var(--hue), 0%, 0%);
        --link: hsl(var(--hue), 68%, 60%);
        --linkhover: hsl(var(--contrast), 100%, 71%);
        --text: hsl(var(--hue), 56%, 87%);
        --callout: hsl(var(--hue), 9%, 4%);
    }
}