---
title: About
rss: false
eleventyNavigation:
  key: About New
  emoji: <span class="emoji" aria-hidden="true">🌸</span>
  order: 1
style: '@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");'
scripts: '<link rel="stylesheet" href="/css/pages/about.css">'
---
{% extends 'structure/templates/page-empty.njk'%}
{% import "structure/components/components.njk" as macro with context %}

{%- block main -%}
<div class="container">
	<h1 class="visually-hidden">About</h1>
	<span class="bigboibanner">Internet witch</span>

	<div class="character">
		<div class="whodis">
			<div class="itme-name">
				<h2>Name</h2>
				<p>Frills</p>
			</div>
			<div class="itme-race">
				<h2>Race</h2>
				<p>Human</p>
			</div>
			<div class="itme-level">
				<h2>Level</h2>
				<p>3X</p>
			</div>
			<div class="itme-alignment">
				<h2>Alignment</h2>
				<p>Chaotic Good</p>
			</div>
			<div class="itme-something">
				<h2>Class</h2>
				<p>Sorcerer</p>
			</div>
		</div>
		<div class="piccy">
			<img src="/images/collections/avatars/andycarolan.png">
		</div>
	</div>

	<div class="stats">
		<h2 class="visually-hidden">Stats</h2>
		{# 
		8 = -1
		10 = 0
		12 = +1
		14 = +2
		16 = +3
		18 = +4
		20 = +5 #}

		<div class="stat-str">
			<h3>Strength</h3>
			<p class="bigstat"><span class="visually-hidden">Ability score: </span>9</p>
			<p class="smolstat"><span class="visually-hidden">Modifier: </span>-1</p>
		</div>
		<div class="stat-dex">
			<h3>Dexterity</h3>
			<p class="bigstat"><span class="visually-hidden">Ability score: </span>11</p>
			<p class="smolstat"><span class="visually-hidden">Modifier: </span>+0</p>
		</div>
		<div class="stat-con">
			<h3>Constitution</h3>
			<p class="bigstat"><span class="visually-hidden">Ability score: </span>15</p>
			<p class="smolstat"><span class="visually-hidden">Modifier: </span>+2</p>
		</div>
		<div class="stat-wis">
			<h3>Wisdom</h3>
			<p class="bigstat"><span class="visually-hidden">Ability score: </span>16</p>
			<p class="smolstat"><span class="visually-hidden">Modifier: </span>+3</p>
		</div>
		<div class="stat-int">
			<h3>Intelligence</h3>
			<p class="bigstat"><span class="visually-hidden">Ability score: </span>14</p>
			<p class="smolstat"><span class="visually-hidden">Modifier: </span>+2</p>
		</div>
		<div class="stat-cha">
			<h3>Charisma</h3>
			<p class="bigstat"><span class="visually-hidden">Ability score: </span>13</p>
			<p class="smolstat"><span class="visually-hidden">Modifier: </span>+1</p>
		</div>
	</div>
</div>

{# TODO: make this accessible
<section>
	<h2>My Character Sheet</h2>
	<p>Sorry this is not accessible yet.<br> Too long didn't read: I'm a neutral good, Human Druid (Paladin and Sorcerer multi-class).</p>
	<h3>Alignment:</h3>
	<p>Lawful Good ----- XXXXXXXXXXXXXXXXXXX (19)<br>
	Neutral Good ---- XXXXXXXXXXXXXXXXXXXXXXX (23)<br>
	Chaotic Good ---- XXXXXXXXXXXXXXX (15)<br>
	Lawful Neutral -- XXXXXXXXXXXXXXXXX (17)<br>
	True Neutral ---- XXXXXXXXXXXXXXXXXXXXX (21)<br>
	Chaotic Neutral - XXXXXXXXXXXXX (13)<br>
	Lawful Evil ----- XXXXXXXXXXX (11)<br>
	Chaotic Evil ---- XXXXXXX (7)</p>

	<h3>Law & Chaos:</h3>
	<p>Law ----- XXXXXXXX (8)<br>
	Neutral - XXXXXXXXXXXX (12)<br>
	Chaos --- XXXX (4)</p>

	<h3>Good & Evil:</h3>
	<p>Good ---- XXXXXXXXXXX (11)<br>
	Neutral - XXXXXXXXX (9)<br>
	Evil ---- XXX (3)</p>

	<h3>Race:</h3>
	<p>Human ---- XXXXXXXXXXXXX (13)<br>
	Dwarf ---- XXXXXXXXXXXX (12)<br>
	Elf ------ XXXXXXXX (8)<br>
	Gnome ---- XXXXXX (6)<br>
	Halfling - XXXX (4)<br>
	Half-Elf - XXXXXXXXXXXX (12)<br>
	Half-Orc - XXXXXX (6)</p>

	<h3>Class:</h3>
	<p>Barbarian - XXXXXXXX (8)<br>
	Bard ------ XXXXXX (6)<br>
	Cleric ---- XXXXXXXXXX (10)<br>
	Druid ----- XXXXXXXXXXXXXXXXXX (18)<br>
	Fighter --- XXXXXXXX (8)<br>
	Monk ------ XXXX (4)<br>
	Paladin --- XXXXXXXXXXXXXXXX (16)<br>
	Ranger ---- XXXXXXXXXXXXXX (14)<br>
	Rogue ----- XXXXXXXXXX (10)<br>
	Sorcerer -- XXXXXXXXXXXXXXXX (16)<br>
	Warlock --- XXXXXXXX (8)<br>
	Wizard ---- XXXXXXXXXXXXXX (14)</p>
</section> #}

{%- endblock -%}