---
title: Accessibility
---
{% extends 'structure/templates/page-3col.njk'%}

{%- block left -%}
{%- endblock -%}


{%- block main -%}
<section>
	<div class="reading-width">
		<p>Making this website accessible to all is my <em>top priority</em>. I aim to meet a minimum of Web Content Accessibility Guidelines (WCAG) 2.1 Level AA. If you have come across something you find inaccessible, please get in touch.</p>
		<p>You should be able to:</p>
		<ul>
			<li>use your browser defaults for settings, sizes and styling</li>
			<li>zoom in (or out) without breaking your experience</li>
			<li>navigate the site with just your keyboard</li>
			<li>listen to the site using a screen reader</li>
		</ul>

		<h2>Website to do</h2>
		<ul>
			<li>Add toggle for light/dark mode (browser preference override)</li>
			<li>Add toggle for reducing animations (system preference override)</li>
			<li>Test with screen reader</li>
		</ul>

	</div>
</section>

{%- endblock -%}

{%- block right -%}

{%- endblock -%}


{%- block scripts -%}

{%- endblock -%}