---
title: Accessibility
rss: false
---
{% extends 'structure/templates/page-3col.njk'%}

{%- block left -%}
{%- endblock -%}


{%- block main -%}
<section>
	<div class="reading-width">
		<p>Making this website accessible to all is my <em>top priority</em>. I aim to meet a minimum of Web Content Accessibility Guidelines (WCAG) 2.2 Level AA.</p>
		<p>You should be able to:</p>
		<ul>
			<li>use your browser defaults for settings, sizes and styling</li>
			<li>zoom in (or out) without breaking your experience</li>
			<li>navigate the site with just your keyboard</li>
			<li>listen to the site using a screen reader</li>
		</ul>
		<p>If you have come across something you find inaccessible, please get in touch.</p>
		<ul class="unstyled">
			<li><span class="emoji" role="img" aria-label="Email">📧</span> <a href="mailto:fri11s@proton.me">fri11s@proton.me</a></li>
			<li><span class="emoji" role="img" aria-label="Neocities profile">😺</span> <a href="https://neocities.org/site/fri11s">@fri11s@neocities.org</a></li>
			<li><span class="emoji" role="img" aria-label="Mastodon">🐘</span> <a href="https://indieweb.social/@frills">@frills@indieweb.social</a></li>
		</ul>

	</div>
</section>

{%- endblock -%}

{%- block right -%}

{%- endblock -%}