---
title: Blog
rss: false
eleventyNavigation:
  key: Blog
  emoji: <span class="emoji" aria-hidden="true">📝</span>
  order: 3
---
{% extends "structure/pages/list-blog.njk" %}
{% set postslist = collections.posts %}

{%- block right -%}
<h2 class="visually-hidden">RSS feed</h2>
<a href="/rss.xml" class="rss">RSS feed</a>
 {%- endblock %}