---
title: Blog
emoji: ' <span class="emoji" role="img" aria-label="Pencil and paper">📝</span>'
eleventyNavigation:
  key: Blog
  order: 3
---
{% extends "bloglist.njk" %}
{% set postslist = collections.posts %}