---
title: Bookmarks
rss: false
eleventyNavigation:
  key: Bookmarks
  emoji: <span class="emoji" aria-hidden="true">🔖</span>
  order: 5
---
{% extends "structure/pages/list-bookmarks.njk" %}
{% set postslist = collections.bookmarks %}