---
title: Button wall
---
{% extends 'page.njk'%}

    {%- css "defer" %}
        .buttonwall {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			gap: 1px;
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		.buttonwall__item {
			width: 88px;
			height: 31px;
			background: white;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			transition: 0.4s ease transform;
			overflow: hidden;
			word-break: break-word;
			text-decoration: none;
		}
		.buttonwall__item:hover,.buttonwall__item:focus,.buttonwall__item:active {
			transform: scale(2);
			text-decoration: underline;
		}
    {% endcss %}


{%- block content -%}
<section>
	{{ macro.header(title + ' <span class="emoji" role="img" aria-label="Seedling">🌱</span>' ) }}

	<ul class="buttonwall">
		<li><a href="#" class="buttonwall__item --spots" style="font-size: 10px; background-color: pink; color: white;">frills</a></li>
		<li><a href="https://lostletters.neocities.org/" class="buttonwall__item --stars" style="font-size: 12px; background-color: #34072d; color: #ffc6ec;">lostletters</a></li>
		<li><a href="https://thogreer.neocities.org/" class="buttonwall__item --spots" style="font-size: 14px; background-color: #000000; color: #0335a8;">throgreer</a></li>
		<li><a href="#" class="buttonwall__item --spots" style="font-size: 10px; background-color: hotpink; color: black;">suppecalifragilisticexpialidocious</a></li>
		<li><a href="#" class="buttonwall__item --spots" style="font-size: 10px; background-color: hotpink; color: black;">frills</a></li>
		<li><a href="#" class="buttonwall__item --spots" style="font-size: 10px; background-color: hotpink; color: black;">frills</a></li>
		<li><a href="#" class="buttonwall__item --spots" style="font-size: 10px; background-color: hotpink; color: black;">frills</a></li>
	</ul>

</section>
{%- endblock -%}

{%- block js -%}

{%- endblock -%}