---
title: Collections
rss: false
eleventyNavigation:
  key: Collections
  emoji: <span class="emoji" aria-hidden="true">🪐</span>
  order: 7
---
{% extends "structure/pages/list-collections.njk" %}
{% set postslist = collections.collections %}
