---
title: Curios
rss: false
eleventyNavigation:
  key: Curios
  emoji: <span class="emoji" aria-hidden="true">🪐</span>
  order: 7
---
{% extends "structure/pages/list-curios.njk" %}
{% set postslist = collections.curios %}
