---
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
rp: You stumble upon a hidden garden, hardly anyone has been here before. Moss has grown over the edges of the path you stand on and weeds are peeking up through the cracks. The sun is warm on your face though, so you decide to stay a while and take a look around.
---
{% extends 'page.njk'%}

{%- block content -%}
<section>
	<header class="pb-1">
		<h1>{{ metadata.title }} <span class="emoji" role="img" aria-label="Seedling">🌱</span></h1>

		{% if rp %}
		<p class="italic lowercase">{{rp}}</p>
		{% endif %}
	</header>
</section>
{%- endblock -%}

{%- block js -%}
<script>
console.log('asdad')
</script>
{%- endblock -%}