---
title: Links
emoji: ' <span class="emoji" role="img" role="presentation">🔗</span>'
description: 
eleventyNavigation:
  key: Links
  emoji: <span class="emoji" aria-hidden="true">🔗</span>
  order: 3
---
{% extends 'structure/templates/page-3col.njk'%}

{%- block left -%}
{%- endblock -%}

{%- block main -%}
<section>
    {% include "structure/components/buttonwall.njk" %}
</section>
{%- endblock -%}

{%- block right -%}
    {% include "structure/components/button.njk" %}
{%- endblock -%}

{% block scripts %}
{% endblock %}