---
title: Links
rss: false
eleventyNavigation:
  key: Links
  emoji: <span class="emoji" aria-hidden="true">🔗</span>
  order: 3
scripts: '<script>
  const t = document.getElementById("toggleHighContrast");
  const w = document.querySelectorAll(".links");
  const o = "Enable high contrast";
  const c = "Disable high contrast";
  if (t) {t.addEventListener("click", (function () {w.forEach((s => {s.classList.contains("links--highcontrast") ? (t.innerHTML = o, t.setAttribute("aria-pressed", !1), s.classList.remove("links--highcontrast")) : (t.innerHTML = c, t.setAttribute("aria-pressed", !0), s.classList.add("links--highcontrast"))}))}));}
</script>'
---
{% extends 'structure/templates/page-3col.njk'%}

{%- block left -%}
{%- endblock -%}

{%- block main -%}
<h1>{{title}}</h1>

{% set links = [
  {
    "name": "32bit cafe",
    "href": "https://32bit.cafe",
    "src": "32bitcafe.png",
    "type": "button"
  }, {
    "name": "Accessible Net",
    "href": "https://pinkvampyr.leprd.space/accessiblenet/directory",
    "src": "accessiblenet.png",
    "type": "button"
  }, {
    "name": "debtdeath",
    "href": "https://debtdeath.neocities.org/",
    "src": "debtdeath.png",
    "type": "button"
  }, {
    "name": "Divergent Rays",
    "href": "https://divergentrays.com/",
    "src": "divergentrays.png",
    "type": "button"
  },
  {
    "name": "Dizzy",
    "href": "https://doctordizzy.space/",
    "src": "dizzy.png",
    "type": "button"
  }, {
    "name": "fh 102",
    "href": "https://fh102.neocities.org/",
    "src": "fh102.png",
    "type": "button"
  }, {
    "name": "Fizzsea",
    "href": "https://fizzsea.neocities.org/",
    "src": "fizzsea.png",
    "type": "button"
  }, {
    "name": "grlrot",
    "href": "https://grlrot.neocities.org/",
    "src": "grlrot.png",
    "type": "button"
  }, {
    "name": "Hillhouse",
    "href": "https://hillhouse.neocities.org/",
    "src": "hillhouse.png",
    "type": "button"
  }, {
    "name": "Inkcaps",
    "href": "https://inkcaps.neocities.org/",
    "src": "inkcaps.png",
    "type": "button"
  }, {
    "name": "Jasmine's Journal",
    "href": "https://jasm1nii.xyz/",
    "src": "jasmines_journal.png",
    "type": "button"
  }, {
    "name": "Just Fluffing Around",
    "href": "https://justfluffingaround.neocities.org/",
    "src": "justfluffingaround.png",
    "type": "button"
  }, {
    "name": "Lost Letters",
    "href": "https://lostletters.neocities.org/",
    "src": "lostletters.png",
    "type": "button"
  }, {
    "name": "lipu pi jan sunosin",
    "href": "https://sunosin.neocities.org/",
    "src": "lipu_pi_jan_sunosin.png",
    "type": "button"
  }, {
    "name": "Maria",
    "href": "https://maria.town/",
    "src": "maria_town.png",
    "type": "button"
  }, {
    "name": "Maya Land",
    "href": "https://maya.land/",
    "src": "maya_land.png",
    "type": "button"
  }, {
    "name": "Melon King",
    "href": "https://melonking.net/",
    "src": "melonking.png",
    "type": "button"
  }, {
    "name": "Moon Prism",
    "href": "https://moonpr1sm.neocities.org",
    "src": "moonpr1sm.png",
    "type": "button"
  }, {
    "name": "Owl's Roost",
    "href": "https://owlsroost.xyz/",
    "src": "owlsroost.png",
    "type": "button"
  }, {
    "name": "Neonaut",
    "href": "https://neonaut.neocities.org/",
    "src": "neonaut.png",
    "type": "button"
  }, {
    "name": "Nonkiru",
    "href": "https://nonkiru.art",
    "src": "nonkiru.png",
    "type": "button"
  }, {
    "name": "Not Prince Hamlet",
    "href": "https://notprincehamlet.neocities.org/",
    "src": "notprincehamlet.png",
    "type": "button"
  }, {
    "name": "PinkVampyr",
    "href": "https://pinkvampyr.neocities.org/",
    "src": "pinkvampyr.png",
    "type": "button"
  }, {
    "name": "Pixel Moondust",
    "href": "https://pixelmoondust.neocities.org/",
    "src": "pixelmoondust.png",
    "type": "button"
  }, {
    "name": "Salixx",
    "href": "https://salixx.neocities.org/",
    "src": "salixx.png",
    "type": "button"
  }, {
    "name": "Sanguine Royal",
    "href": "https://sanguineroyal.com/",
    "src": "sanguineroyal.png",
    "type": "button"
  }, {
    "name": "Sentimental Futurist",
    "href": "https://sentimentalfuturist.net/",
    "src": "sentimental_futurist.png",
    "type": "button"
  }, {
    "name": "Sneek Realm",
    "href": "https://sneekrealm.neocities.org/",
    "src": "sneekrealm.png",
    "type": "button"
  }, {
    "name": "Solaria",
    "href": "https://solaria.neocities.org/",
    "src": "solaria.png",
    "type": "button"
  }, {
    "name": "Soya Toast",
    "href": "https://soyatoast.neocities.org/",
    "src": "soyatoast.png",
    "type": "button"
  }, {
    "name": "Starbreaker",
    "href": "https://starbreaker.org/",
    "src": "starbreaker.png",
    "type": "button"
  }, {
    "name": "Whiona",
    "href": "https://whiona.me/",
    "src": "whiona.png",
    "type": "button"
  }, {
    "name": "The Museum of Alexandra",
    "href": "https://xandra.cc/",
    "src": "xandra.png",
    "type": "button"
  },{
    "name": "Mostly Pixels",
    "href": "https://mostlypixels.com/",
    "src": "mostlypixels.png",
    "type": "button"
  }, {
    "name": "Amber Wilson",
    "href": "https://amberwilson.co.uk/",
    "size": "11px",
    "bg": "#b6d0f1",
    "color": "#4b0e90",
    "type": "link"
  }, {
    "name": "Eevis",
    "href": "https://eevis.codes/",
    "size": "11px",
    "bg": "#e76f51",
    "color": "#0d0221",
    "type": "link"
  }, {
    "name": "jessica journals",
    "href": "https://jessicajournals.com",
    "size": "11px",
    "bg": "#1e1e2e",
    "color": "#A5E3A1",
    "type": "link"
  }, {
    "name": "Kitty Giraudel",
    "href": "https://kittygiraudel.com/",
    "size": "11px",
    "bg": "#d97eb4",
    "color": "#222222",
    "type": "link"
  }, {
    "name": "lolabee",
    "href": "https://lolabee.neocities.org/",
    "size": "11px",
    "bg": "#facbd8",
    "color": "#4f3d46",
    "type": "link"
  }, {
    "name": "no happy nonsense",
    "href": "https://nohappynonsense.net/",
    "size": "11px",
    "bg": "#fffaa1",
    "color": "black",
    "type": "link"
  }, {
    "name": "sleepy dev",
    "href": "https://sleepydev.neocities.org",
    "size": "11px",
    "bg": "blueviolet",
    "color": "#f9f9f9",
    "type": "link"
  }, {
    "name": "Stephanie Eckles",
    "href": "https://thinkdobecreate.com/",
    "size": "11px",
    "bg": "#7d4ce0",
    "color": "#fff",
    "type": "link"
  }, {
    "name": "Cassidy Williams",
    "href": "https://cassidoo.co",
    "size": "11px",
    "bg": "rgb(235, 72, 136)",
    "color": "#fff",
    "type": "link"
  }, {
    "name": "Flamed Fury",
    "href": "https://flamedfury.com",
    "size": "11px",
    "bg": "#252525",
    "color": "#de6b09",
    "type": "link"
  }, {
    "name": "Localghost",
    "href": "https://localghost.dev/",
    "size": "11px",
    "bg": "#1a1a4d",
    "color": "#f00fe4",
    "type": "link"
  }, {
    "name": "Leviathren",
    "href": "https://leviathren.neocities.org",
    "src": "leviathren.png",
    "type": "button"
  }, {
    "name": "10kph",
    "href": "https://10kph.neocities.org",
    "src": "10kph.png",
    "type": "button"
  }, {
    "name": "Doqmeat",
    "href": "https://doqmeat.neocities.org",
    "src": "doqmeat.png",
    "type": "button"
  }, {
    "name": "Foreverliketh.is",
    "href": "https://foreverliketh.is/",
    "src": "foreverliketh.is.png",
    "type": "button"
  },{
    "name": "Lazy Bones",
    "href": "https://lazybones.neocities.org/",
    "src": "lazybones.png",
    "type": "button"
  }, {
    "name": "Velvet's Smoking Lounge",
    "href": "https://velvet-boutique.neocities.org",
    "src": "velvet.png",
    "type": "button"
  }, {
    "name": "Nenrikido",
    "href": "https://nenrikido.neocities.org",
    "src": "nenrikido.png",
    "type": "button"
  }, {
    "name": "Robb Knight",
    "href": "https://rknight.me/",
    "src": "robbknight.png",
    "type": "button"
  }, {
    "name": "Joe Jenett - Bulltown",
    "href": "https://bulltown.2022.joejenett.com/",
    "src": "joejenett.png",
    "type": "button"
  }, {
    "name": "flower.codes",
    "href": "https://flower.codes/",
    "size": "11px",
    "bg": "#9bbc0f",
    "color": "#222222",
    "type": "link"
  }, {
    "name": "Met Moxie",
    "href": "https://metmoxie.com/",
    "src": "metmoxie.png",
    "type": "button"
  }
] %}

{% set friends = [
  {
    "name": "goth hoblin",
    "href": "https://gothhoblin.me",
    "size": "12px",
    "bg": "#083820",
    "color": "#fff"
  },
  {
    "name": "not so miserable",
    "href": "https://www.thenotsomiserable.co.uk",
    "size": "12px",
    "bg": "#5f0979",
    "color": "#fff"
  }, {
    "name": "Justin Blogs Again!",
    "href": "https://teafuellednonsense.wordpress.com",
    "size": "10px",
    "bg": "#00aadc",
    "color": "#fff"
  }, {
    "name": "just nik",
    "href": "https://justnik.me/",
    "size": "12px",
    "bg": "#2d3748",
    "color": "#fff"
  }, {
    "name": "owain.codes",
    "href": "https://www.owain.codes/",
    "size": "12px",
    "bg": "#222831",
    "color": "#b6ff00"
  }, {
    "name": "Alex Jegtnes",
    "href": "https://jegtnes.com/",
    "size": "12px",
    "bg": "#a3001e",
    "color": "#fff"
  }, {
    "name": "Phil Wilson",
    "href": "https://philwilson.org/blog",
    "size": "12px",
    "bg": "MediumSeaGreen",
    "color": "#222222"
  }
] %}

{% set creatives = [
  {
    "name": "cheyenne barton",
    "href": "https://cheyennebarton.com/",
    "size": "12px",
    "bg": "#ffc929",
    "color": "#fa4723",
    "type": "link"
  }, {
    "name": "furry little peach",
    "href": "https://www.furrylittlepeach.com",
    "size": "12px",
    "bg": "#f0490a",
    "color": "#fff",
    "type": "link"
  }, {
    "name": "girlscape",
    "href": "https://www.patreon.com/girlscape",
    "size": "13px",
    "bg": "#ff91bb",
    "color": "#fff",
    "type": "link"
  }, {
    "name": "Leigh Ellexson",
    "href": "https://leighellexson.com",
    "size": "12px",
    "bg": "#9bc18a",
    "color": "#fdfbf7",
    "type": "link"
  }, {
    "name": "pansy",
    "href": "https://www.pansy-shop.com",
    "size": "16px",
    "bg": "#edd647",
    "color": "#220967",
    "type": "link"
  }, {
    "name": "paloma the peach",
    "href": "https://www.patreon.com/palomathepeach",
    "size": "12px",
    "bg": "#feebb3",
    "color": "#212117",
    "type": "link"
  }, {
    "name": "comfyco",
    "href": "https://uncomfyco.com",
    "size": "13px",
    "bg": "#603814",
    "color": "#fff",
    "type": "link"
  }
] %}

{% set tools = [ {
    "name": "Internet Archive: Wayback Machine",
    "href": "http://web.archive.org/",
    "src": "wayback_machine.png",
    "type": "button"
  }, {
    "name": "base 64 image converter",
    "href": "https://www.base64-image.de/",
    "size": "10px",
    "bg": "#dadad2",
    "color": "#e84c3d",
    "type": "link"
  }, {
    "name": "Can I Use",
    "href": "https://caniuse.com/",
    "size": "14px",
    "bg": "#833502",
    "color": "#fff",
    "type": "link"
  }, {
    "name": "CSS tricks",
    "href": "https://css-tricks.com/",
    "size": "14px",
    "bg": "#383838",
    "color": "#ff7a18",
    "type": "link"
  }, {
    "name": "CodePen",
    "href": "https://codepen.io/",
    "size": "13px",
    "bg": "#1e1f26",
    "color": "#47cf73",
    "type": "link"
  }, {
    "name": "ezgif",
    "href": "https://ezgif.com",
    "size": "14px",
    "bg": "#292929",
    "color": "#d9d9d9",
    "type": "link"
  }, {
    "name": "goblin tools",
    "href": "https://goblin.tools/",
    "size": "14px",
    "bg": "limegreen",
    "color": "black",
    "type": "link"
  }, {
    "name": "image anonymizer",
    "href": "https://picdefacer.com/",
    "size": "12px",
    "bg": "#5577ff",
    "color": "#fff",
    "type": "link"
  }, {
    "name": "SVG optimiser",
    "href": "https://jakearchibald.github.io/svgomg/",
    "size": "12px",
    "bg": "#00bcd4",
    "color": "#000",
    "type": "link"
  }, {
    "name": "Tinypng",
    "href": "https://tinypng.com/",
    "size": "12px",
    "bg": "#080706",
    "color": "#f7f3f0",
    "type": "link"
  }
] %}

{% set bookmarks = [
  {
    "name": "Wiby",
    "href": "https://wiby.me",
    "src": "wiby.png",
    "type": "button"
  },
  {
    "name": "marginalia",
    "href": "https://www.marginalia.nu/links/bookmarks/",
    "size": "13px",
    "bg": "#444444",
    "color": "#fff",
    "type": "link"
  },
  {
    "name": "personalsit.es",
    "href": "https://personalsit.es/",
    "size": "11px",
    "bg": "#f7f7f7",
    "color": "#030303",
    "type": "link"
  },
  {
    "name": "sizeof.cat",
    "href": "https://sizeof.cat/post/website-discovery/",
    "size": "11px",
    "bg": "#1e1e2e",
    "color": "#5550ed",
    "type": "link"
  },
  {
    "name": "indieblog.page",
    "href": "https://indieblog.page/",
    "size": "11px",
    "bg": "#212121",
    "color": "#ffb300",
    "type": "link"
  },
  {
    "name": "250KB Club",
    "href": "https://250kb.club/",
    "size": "11px",
    "bg": "#222222",
    "color": "white",
    "type": "link"
  }
] %}

<section class="reading-width">
  <ul class="links">
    {% for link in links | sort(attribute="name") %}
    {% if link.type == "button" %}
    <li class="links__image">
      <a href="{{link.href}}">
          <img src="/images/buttons/{{link.src}}" alt="{{link.alt}}">
      </a>
    </li>
    {% else %}
    <li class="links__item">
      <a href="{{link.href}}" style="font-size: {{link.size}};  background-color: {{link.bg}}; color: {{link.color}};">
        {{link.name}}
      </a>
    </li>
    {% endif%}
    {% endfor %}
    {% for friend in friends | sort(attribute="name") %}
    <li class="links__item">
      <a href="{{friend.href}}" style="font-size: {{friend.size}};  background-color: {{friend.bg}}; color: {{friend.color}};">
        {{friend.name}}
      </a>
    </li>
    {% endfor %}
  </ul>

  <h2>Creatives</h2>
  <ul class="links">
    {% for creative in creatives | sort(attribute="name") %}
    <li class="links__item">
      <a href="{{creative.href}}" style="font-size: {{creative.size}};  background-color: {{creative.bg}}; color: {{creative.color}};">
        {{creative.name}}
      </a>
    </li>
    {% endfor %}
  </ul>

  <h2>Tools & fun things</h2>
  <ul class="links">
    {% for tool in tools | sort(attribute="name") %}
    {% if tool.type == "button" %}
    <li class="links__image">
      <a href="{{tool.href}}">
          <img src="/images/buttons/{{tool.src}}" alt="{{tool.alt}}">
      </a>
    </li>
    {% else %}
    <li class="links__item">
      <a href="{{tool.href}}" style="font-size: {{tool.size}};  background-color: {{tool.bg}}; color: {{tool.color}};">
        {{tool.name}}
      </a>
    </li>
    {% endif%}
    {% endfor %}
  </ul>

  <h2>Bookmarks & link lists</h2>
  <ul class="links">
    {% for bookmark in bookmarks | sort(attribute="name") %}
    {% if bookmark.type == "button" %}
    <li class="links__image">
      <a href="{{bookmark.href}}">
          <img src="/images/buttons/{{bookmark.src}}" alt="{{bookmark.alt}}">
      </a>
    </li>
    {% else %}
    <li class="links__item">
      <a href="{{bookmark.href}}" style="font-size: {{bookmark.size}};  background-color: {{bookmark.bg}}; color: {{bookmark.color}};">
        {{bookmark.name}}
      </a>
    </li>
    {% endif%}
    {% endfor %}
  </ul>

  <button id="toggleHighContrast" class="button mb-1" aria-pressed="false">Enable high contrast</button>
</section>
{%- endblock -%}

{%- block right -%}
{% include "structure/components/button.njk" %}
{%- endblock -%}