---
title: Links
emoji: ' <span class="emoji" role="img" role="presentation">🔗</span>'
description: 
eleventyNavigation:
  key: Links
  emoji: 🔗
  order: 4
---
{% extends 'structure/templates/page.njk'%}

{%- block left -%}
{%- endblock -%}

{%- block main -%}
<section>
    {% include "structure/components/buttonwall.njk" %}
</section>
{%- endblock -%}

{%- block right -%}
    {% include "structure/components/button.njk" %}
{%- endblock -%}

{% block scripts %}

{% endblock %}