---
title: Manifesto
emoji: ' <span class="emoji" role="img" aria-label="Label"></span>'
draft: true
---
{% extends 'layouts/page.njk'%}

{%- block left -%}
{%- endblock -%}
{%- block content -%}
	{{ macro.header(title + emoji ) }}
<section>
</section>

{%- endblock -%}

{%- block scriptsContent -%}

{%- endblock -%}