---
title: Manifesto
emoji: ' <span class="emoji" role="img" aria-label="Label"></span>'
draft: true
---
{% extends 'structure/templates/page.njk'%}

{%- block left -%}
{%- endblock -%}
{%- block main -%}
<section>
</section>

{%- endblock -%}

{%- block scripts -%}

{%- endblock -%}