---
title: Manifesto
rss: false
draft: true
---
{% extends 'structure/templates/page-3col.njk'%}

{%- block left -%}
{%- endblock -%}
{%- block main -%}
<section>
</section>

{%- endblock -%}

{%- block scripts -%}

{%- endblock -%}