---
title: 404
draft: true
---
{% extends 'structure/templates/page.njk'%}

{%- block left -%}
{%- endblock -%}


{%- block main -%}
<section>
	<div class="reading-width">
		<p>Page not found</p>
	</div>
</section>

{%- endblock -%}

{%- block scripts -%}
{%- endblock -%}