---
title: 404 Page not found
permalink: not_found.html
eleventyExcludeFromCollections: true
rss: false
---
{% extends 'structure/templates/page-3col.njk'%}

{%- block left -%}
{%- endblock -%}


{%- block main -%}
<section>
	<div class="reading-width">
		<p>Sorry! I couldn't find that page</p>
		<p>It might have been moved, or deleted. Try again from the <a href="/">homepage</a>.</p>
	</div>
</section>

{%- endblock -%}

{%- block scripts -%}
{%- endblock -%}