---
title: 404
---
{% extends 'layouts/page.njk'%}

{%- block leftContent -%}
	{{ macro.header(title) }}
{%- endblock -%}


{%- block mainContent -%}
<section>
	<div class="reading-width">
		<p>Page not found</p>
	</div>
</section>

{%- endblock -%}

{%- block scriptsContent -%}
{%- endblock -%}