---
title: Recipes
description: All recipes are vegetarian, vegan recipes are marked with (Ve).
emoji: 🍝
eleventyNavigation:
  key: Recipes
  emoji: 🍝
  order: 6
---
{% extends "structure/pages/list-experiments.njk" %}
{% set postslist = collections.recipes %}