---
title: Status
rss: false
---

{% extends "structure/templates/page-3col.njk" %}
{% import "structure/components/components.njk" as macro with context %}

{%- block main -%}
  {%- for statusCollection in collections.status -%}
    {% if statusCollection.data.type == "microblog" %}
      {% for status in statusCollection.data.status | reverse %}
        {{ macro.callout(
          element = 'article',
          modifiers = '',
          style = 'background:'+ status.bg +'!important; color:'+ status.textColor,
          emoji = '<img src="https://emojicdn.elk.sh/'+status.emoji+'?style=apple" alt="">',
          header = '<h2>'+status.date | readableDate("d LLL yyyy")+'</h2>',
          body = status.text
        )}}
      {% endfor %}
    {%- endif -%}
  {%- endfor -%}
{%- endblock -%}