---
title: Weeknotes
emoji: ' <span class="emoji" role="img" aria-label="Calendar">📆</span>'
eleventyNavigation:
  key: Weeknotes
  order: 3
---
{% extends "postslist.njk" %}
{% set postslist = collections.weeknotes %}