{% extends "core/base.njk" %}

{%- block left -%}
{% import "_includes/_components/components.njk" as macro with context %}
	{{ macro.header(title + emoji) }}
{%- endblock -%}

{%- block main -%}
	<ol reversed class="stars">
	{% for post in postslist | reverse %}
		<li {% if post.data.draft %}class="draft"{% endif %}>
			<a href="{{ post.url }}">{% if post.data.title %}{{ post.data.title | safe }}{% else %}{{ post.url }}{% endif %}</a>
			<time datetime="{{ post.date | htmlDateString }}"> {{ post.date | readableDate("d LLL yyyy") }}</time>
		</li>
	{% endfor %}
	</ol>
{%- endblock -%}

{%- block js -%}
<script>

</script>
{%- endblock -%}
