{% extends "core/base.njk" %}

{%- block main -%}
<div class="container center py-2">
    <main class="main">
    {%- block content -%}
        {{ content | safe }}
    {%- endblock -%}
    </main>
</div>
{%- endblock -%}