.bookmarks.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (min-width: 576px) {
  .bookmarks.cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .bookmarks.cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.bookmarks.cards .card__url {
  position: static;
  display: block;
  margin-bottom: 1rem;
  text-decoration: underline;
  color: var(--link);
}

.bookmarks.cards .card__title:visited~.bookmarks.cards .card__url {
  color: var(--linkvisited);
}

.bookmarks.cards .card__title:hover~.card__url,
.bookmarks.cards .card__title:focus~.card__url {
  color: var(--linkhover);
  text-decoration: underline wavy 2px;
}

.bookmarks.cards .card__favicon {
  width: 1rem;
  height: 1rem;
  display: inline;
  margin-right: 0.5rem;
  transform: translateY(0.2rem);
}