.collections.cards,
.experiments.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .collections.cards,
  .experiments.cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .collections.cards,
  .experiments.cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
