@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
  --envelope-x: 300px;
  --envelope-y: 200px;
  --envelope-bg: Moccasin;
  --envelope-shadow: Peru;
  --letter-x: 250px;
  --letter-y: calc(250px - 1rem - 10px);
  --letter-bg: AntiqueWhite;
  --letter-shadow: BurlyWood;
  --letter-text: #180d07;
  --letter-font: "Dancing Script", serif;
  --letter-button-text: darkred;
  --heart-bg: darkred;
  --heart-text: white;
}

@media (min-width:650px) {
  :root {
    --envelope-x: 600px;
    --envelope-y: 400px;
    --letter-x: 500px;
    --letter-y: calc(400px - 1rem - 10px);
  }
}

.cssletter {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  margin: 3rem 0;
}

.envelope {
  position: relative;
  width: var(--envelope-x);
  height: var(--envelope-y);
  background: var(--envelope-bg);
  box-shadow: inset 0 0 30px -5px var(--envelope-shadow);
}

.envelope::before {
  content: '˚ʚ❤︎ɞ˚';
  font-size: 5rem;
  color: white;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 1.5rem;
  transform: translateX(-50%);
  mix-blend-mode: soft-light;
}

.envelope-flap {
  width: 100%;
  height: 71%;
  position: absolute;
  top: 0;
  z-index: 3;
  overflow: hidden;
  transition: 0.6s linear all;
  transform-origin: top;
  pointer-events: all;
}

.envelope-folds {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.envelope-flap::before,
.envelope-left::before,
.envelope-right::before,
.envelope-bottom::before {
  content: '';
  transform: rotate(45deg);
  background: var(--envelope-bg);
  box-shadow: 0 0 30px -5px var(--envelope-shadow);
  width: 100%;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  top: 60%;
}

.envelope-flap::before {
  border-radius: 5rem;
  bottom: 30px;
  border-radius: 5rem;
  top: auto;
}

@media (min-width: 650px) {
  .envelope-flap::before {
    bottom: 100px;
  }
}

.envelope-left::before {
  top: 10%;
  left: -65%;
}

.envelope-right::before {
  top: 10%;
  right: -65%;
}

.envelope-bottom::before {
  top: 60%;
  border-radius: 5rem;
}

.heart {
  z-index: 4;
  position: relative;
  box-shadow: none;
  border: none;
  width: 70px;
  aspect-ratio: 1;
  background:
    radial-gradient(circle at 60% 65%, var(--heart-bg) 64%, #0000 65%) top left/50% 50%,
    radial-gradient(circle at 40% 65%, var(--heart-bg) 64%, #0000 65%) top right/50% 50%,
    conic-gradient(from -45deg at 50% 85.5%, var(--heart-bg) 90deg, #0000 0) bottom/100% 50%;
  background-repeat: no-repeat;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (min-width: 650px) {

  .heart {
    width: 150px;
  }
}

.heart::before {
  content: '';
  display: block;
  position: absolute;
  width: 70px;
  aspect-ratio: 1;
  background:
    radial-gradient(circle at 60% 65%, #ffffff26 64%, #0000 65%) top left/50% 50%,
    radial-gradient(circle at 40% 65%, #ffffff26 64%, #0000 65%) top right/50% 50%,
    conic-gradient(from -45deg at 50% 85.5%, #ffffff26 90deg, #0000 0) bottom/100% 50%;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease all;
  z-index: -1;
}

@media (min-width: 650px) {
  .heart::before {
    width: 150px;
  }
}

.heart:hover,
.heart:active,
.heart:focus {
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: var(--heart-text);
}

.heart:hover::before,
.heart:active::before,
.heart:focus::before {
  transform: translate(-50%, -50%) scale(0.8);
}

.heart-text {
  transform: translateY(-10px);
  display: block;
  color: var(--heart-text);
  font-size: 1.5rem;
  font-family: var(--letter-font);
}

.envelope.active * {
  pointer-events: none;
}

.envelope.active .envelope-flap {
  transform: rotateX(-180deg) translateY(0);
  perspective: 10px;
}

.envelope.active .envelope-flap::before {
  box-shadow: inset 0 0 30px -5px var(--envelope-shadow);
}

.envelope.active .heart {
  display: none;
}

.nice-thing {
  box-sizing: border-box;
  font-family: var(--letter-font);
  font-size: 1rem;
  line-height: 1.1;
  background-color: var(--letter-bg);
  color: var(--letter-text);
  width: var(--letter-x);
  height: var(--letter-y);
  user-select: none;
  box-shadow: inset 0 0 20px -5px var(--letter-shadow);
  padding: 3rem 1rem 1rem;
  margin: 0;
  cursor: grab;
  position: absolute;
  top: 1rem;
  overflow: auto;
  text-align: center;
  border: 0;
}

.nice-thing:active {
  cursor: grabbing;
}

.nice-thing.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nice-thing cite {
  font-size: 1.25rem;
  color: var(--letter-text);
  margin-top: 0;
}

.nice-thing cite::before {
  content: none;
}

.nice-thing:nth-child(even) {
  transform: skew(-2deg) translateY(-4px);
}

.nice-thing:nth-child(odd) {
  transform: skew(2deg) translateY(4px);
}

@media (min-width: 650px) {

  .nice-thing {
    font-size: 1.3rem;
  }
}

.closeLetter {
  font-size: 0 !important;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  box-shadow: none;
  padding: 0;
  border: 0;
}

.closeLetter::before {
  content: '˚ʚ❤︎ɞ˚';
  font-size: 1.5rem !important;
  font-family: var(--letter-font);
  color: var(--letter-button-text);
  text-align: center;
}

.closeLetter:hover,
.closeLetter:active,
.closeLetter:focus {
  background-color: transparent;
  color: var(--letter-text);
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
}

.closeLetter:hover::before,
.closeLetter:active::before,
.closeLetter:focus::before {
  content: 'xXx';
}