@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.cssletter {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.envelope {
  position: relative;
}

.letters {
  position: absolute;
  overflow: hidden;
}

.letters,
.envelope {
  width: 300px;
  height: 200px;
  background: Moccasin;
  box-shadow: inset 0 0 30px -5px Peru;
}

@media (min-width: 650px) {

  .letters,
  .envelope {
    width: 600px;
    height: 400px;
  }
}

.envelope-flap {
  width: 100%;
  height: 71%;
  position: absolute;
  top: 0;
  z-index: 3;
  overflow: hidden;
  transition: 0.6s linear all;
  transform-origin: top;
  pointer-events: none;
}

.envelope-folds {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.envelope-flap::before,
.envelope-left::before,
.envelope-right::before,
.envelope-bottom::before {
  content: '';
  transform: rotate(45deg);
  background: Moccasin;
  box-shadow: 0 0 30px -5px Peru;
  width: 100%;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  top: 60%;
}

.envelope-flap::before {
  border-radius: 5rem;
  bottom: 30px;
  border-radius: 5rem;
  top: auto;
}

@media (min-width: 650px) {
  .envelope-flap::before {
    bottom: 100px;
  }
}

.envelope-left::before {
  top: 10%;
  left: -65%;
}

.envelope-right::before {
  top: 10%;
  right: -65%;
}

.envelope-bottom::before {
  top: 60%;
  border-radius: 5rem;
}

.envelope-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.heart {
  z-index: 4;
  position: relative;
  box-shadow: none;
  border: none;
  width: 70px;
  aspect-ratio: 1;
  background:
    radial-gradient(circle at 60% 65%, darkred 64%, #0000 65%) top left/50% 50%,
    radial-gradient(circle at 40% 65%, darkred 64%, #0000 65%) top right/50% 50%,
    conic-gradient(from -45deg at 50% 85.5%, darkred 90deg, #0000 0) bottom/100% 50%;
  background-repeat: no-repeat;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

@media (min-width: 650px) {

  .heart {
    width: 150px;
  }
}

.heart::before {
  content: '';
  display: block;
  position: absolute;
  width: 70px;
  aspect-ratio: 1;
  background:
    radial-gradient(circle at 60% 65%, #b50000 64%, #0000 65%) top left/50% 50%,
    radial-gradient(circle at 40% 65%, #b50000 64%, #0000 65%) top right/50% 50%,
    conic-gradient(from -45deg at 50% 85.5%, #b50000 90deg, #0000 0) bottom/100% 50%;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease all;
  z-index: -1;
}

@media (min-width: 650px) {
  .heart::before {
    width: 150px;
  }
}

.heart:hover,
.heart:active,
.heart:focus {
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
}

.heart:hover::before,
.heart:active::before,
.heart:focus::before {
  transform: translate(-50%, -50%) scale(0.8);
}

.heart-text {
  transform: translateY(-10px);
  display: block;
  color: white;
  font-size: 1.5rem;
  font-family: "Dancing Script", serif;
}

.envelope.active .envelope-flap {
  transform: rotateX(-180deg) translateY(0);
  perspective: 10px;
}

.envelope.active .envelope-flap::before {
  box-shadow: inset 0 0 30px -5px Peru;
}

.envelope.active .heart {
  display: none;
}

.nice-thing {
  font-family: "Dancing Script", serif;
  font-size: 1rem;
  line-height: 1.1;
  position: fixed;
  background-color: AntiqueWhite;
  color: #180d07;
  width: 250px;
  height: auto;
  user-select: none;
  box-shadow: inset 0 0 20px -5px BurlyWood;
  padding: 1rem;
  cursor: grab;
}

.nice-thing:nth-child(even) {
  transform: skew(1deg)
}

.nice-thing:nth-child(odd) {
  transform: skew(-1deg)
}

.nice-thing footer {
  font-size: 1rem;
}

@media (min-width: 650px) {

  .nice-thing {
    width: 500px;
    font-size: 1.3rem;
  }
}

.closeLetter {
  font-size: 0 !important;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: none;
  box-shadow: none;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100rem;
  border: 0;
}

.closeLetter::before {
  content: 'xX';
  font-size: 1.5rem !important;
  font-family: "Dancing Script", serif;
  color: darkred;

}

.closeLetter:hover,
.closeLetter:active,
.closeLetter:focus {
  background-color: transparent;
  color: #180d07;
}