.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-top: 0 !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.py-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

@media (min-width: 1281px) {
  .av-br {
    break-inside: avoid-column;
  }
}

.fl-r {
  float: right;
}

.d-b {
  display: block;
}

.d-i {
  display: inline;
}

.d-ib {
  display: inline-block;
}

.ar-16-9 {
  aspect-ratio: 16 / 9;
}

.pos-r {
  position: relative;
}

.reading-width {
  max-width: 700px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.italic {
  font-style: italic;
}

.gold {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    background-clip: border-box, border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden.skiptomain {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.emoji {
  font-size: 1.1rem;
  line-height: 1;
  font-variant-emoji: emoji;
}

.proven::before {
  content: '';
  width: 8px;
  height: 4px;
  border-bottom: 3px solid var(--bg);
  border-left: 3px solid var(--bg);
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

img.mw-100 {
  max-width: 100%;
}

img.mw-90 {
  max-width: 90%;
}

img.rounded {
  border-radius: 1rem;
}

img.round {
  border-radius: 50%;
}

img.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}