<header class="page__footer grid">
    <div></div>
    <nav aria-label="Top level" class="page__nav">
        <ul>
            <li>♿ <a href="/accessibility">Accessibility</a>
            <li>✨ <a href="/credits">Credits</a>
        </ul>
    </nav>
</header>