<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | safe or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">


    {# <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}"> #}

    {#- CSS bundles via `eleventy-plugin-bundle` https://github.com/11ty/eleventy-plugin-bundle #}
    {%- css "preload" %}{% include "public/css/variables.css" %}{% endcss %}
    {%- css "preload" %}{% include "public/css/preload.css" %}{% endcss %}
    {%- css "defer" %}{% include "public/css/main.css" %}{% endcss %}

    <style>
        {% getBundle "css", "preload" %}
    </style>

    <link rel="stylesheet" href="{% getBundleFileUrl "css", "defer" %}">
    {# <noscript>
      <link rel="stylesheet" href="{% getBundleFileUrl "css", "noscript" %}">
    </noscript> #}

</head>