{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
<nav aria-label="Top level">
    <ul class="inline">
        {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item"><a href="{{ entry.url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a></li>
        {%- endfor %}
    </ul>
</nav>