{% include "_includes/core/_template-start.njk" %}

<body>

    <div class="container center py-1">
        {% include "_includes/core/_nav.njk" %}
        <main class="main">
        {%- block main -%}
            {{- content | safe -}}
        {%- endblock -%}
        </main>
        {% include "_includes/core/_footer.njk" %}
    </div>

    {%- block js -%}
    {%- endblock -%}
</body>

{% include "_includes/core/_template-end.njk" %}