{% include "_includes/core/_template-start.njk" %}

<body>
    <div class="page">
        {% include "_includes/core/_nav.njk" %}
        <main class="page-main grid">
            <div class="section-side">
        {%- block left -%}
            {{- content | safe -}}
        {%- endblock %}
        </div>
            <section class="section">
        {%- block main -%}
            {{- content | safe -}}
        {%- endblock %}
            </section>
        {%- block right -%}
            {{- content | safe -}}
        {%- endblock %}
        </main>
        {% include "_includes/core/_footer.njk" %}
    </div>

    {%- block js -%}
    {%- endblock -%}
</body>

{% include "_includes/core/_template-end.njk" %}