---
title: Orla
rss: true
date: 2023-11-19
---
{% extends 'structure/templates/page-2col.njk'%}
{% import "structure/components/components.njk" as macro with context %}

{%- block left -%}
<h1 class="visually-hidden">{{title}}</h1>

<div class="bio">
	<h2 class="visually-hidden">Bio</h2>
	<img src="/images/shrine/orla/orla-bio.png" alt="A cut out of a pale yellow labrador with mud splatters on her face.">
	<ul class="unstyled">
		<li><span class="emoji" role="img" aria-label="Names">🏅</span> Orla, squishy bum, sausage, piggles</li>
		<li><span class="emoji" role="img" aria-label="Pronouns">🌷</span> she/her</li>
		<li><span class="emoji" role="img" aria-label="Birthday">🎂</span> February 2022</li>
		<li><span class="emoji" role="img" aria-label="Breed">🐶</span> Labrador</li>
		<li><span role="img" class="emoji" aria-label="Status">💩</span> Probably poopin'</li>
	</ul>
	<figure>
	<figcaption>Dream woofs</figcaption>
		<audio controls loop>
			<source src="/media/orla-dreamwoofs.mp3" type="audio/mpeg">
		</audio> 
	</figure>
	<figure>
	<img src="/images/shrine/orla/bluey.png" alt="When I ask my dog if she wants to go for a walk, first picture is a calm sitting dog, the second picture is a blurry dog going crazy.">
	<figcaption>
		Orla as a character from Bluey. <a href="https://picrew.me/share?cd=v2AT97FlXm">Picrew source</a>.
	</figcaption>
	</figure>

</div>
{%- endblock -%}


{%- block main -%}
<section>
	<div class="reading-width">
		<p>Orla is my girl. She is my baby of the fluff. My favourite person. I spend more time with her than anyone else and she never seems to get sick of me. I can't remember what life was like before she joined my family, she brings me so much joy every single day - my cup runneth over.</p>
		<p>If you're human, she'll vibe check you. Once you pass, she'll love you intensely and probably pee on the floor out of excitement of seeing you. If you're a canine, check your watch, it's play'o'clock! Unless you're not into it, in which case: OK bye.</p>
	</div>
</section>

<div class="dashboard">
	<article class="dashboard__item dashboard__item--card">
		<header>
			<h2>🐶 Profile</h2>
		</header>
		<div>
			<ul>
				<li>Breed: Working labrador retriever</li>
				<li>Fluff colour: Champagne</li>
				<li>Eye colour: Pale brown</li>
				<li>Nose: Expert sniffer</li>
				<li>Teeth: Pearly white</li>
				<li>Paws: Perfect</li>
				<li>Tail: Triangle</li>
			</ul>
		</div>
	</article>
	<article class="dashboard__item dashboard__item--card">
		<header>
			<h2>✨ Personality</h2>
		</header>
		<div>
			<ul>
				<li>Sun sign: Pisces</li>
				<li>Rising sign: Aquarius</li>
				<li>Moon sign: Capricorn</li>
				<li>Meyers Briggs: ESFP-T</li>
				<li>Loyal af</li>
				<li>Home protecc</li>
				<li>Dream woofer</li>
			</ul>
		</div>
	</article>
	<article class="dashboard__item dashboard__item--card">
		<header>
			<h2>🦴 Likes</h2>
		</header>
		<div>
			<ul>
				<li>Long grass</li>
				<li>Big puddles</li>
				<li>Carrots</li>
				<li>Bananas</li>
				<li>Bestie Effie</li>
				<li>Belly pats</li>
				<li>Stretching</li>
			</ul>
		</div>
	</article>
</div>
<div class="dashboard">
	<img src="/images/shrine/orla/orla1.jpg" class="dashboard__item" alt="Tiny blonde labrador puppy stands defiantly in the entrance of a doorway.">
	<img src="/images/shrine/orla/orla2.jpg" class="dashboard__item" alt="Close up the face of a sleeping labrador puppy, only her nose and muzzle are in focus.">
	<img src="/images/shrine/orla/fave-person.jpg" class="dashboard__item" alt="A pink frilly heart on a purple background with the words 'You're my favourite person'">
	<img src="/images/shrine/orla/orla3.jpg" class="dashboard__item" alt="Labrador puppy lying on grass, her front paws slightly crossed and her head is tilted to the left.">
	<img src="/images/shrine/orla/orla4.jpg" class="dashboard__item" alt="Two yellow labradors together, one is a fully grown male, led down smiling widely with a ball between his legs, the other is a small puppy sat peaking out from behind the male.">
	<img src="/images/shrine/orla/orla5.jpg" class="dashboard__item" alt="Labrador puppy wearing a red harness at a garden centre, she has a small garden pot in her mouth which covers most of her face">
	<img src="/images/shrine/orla/orla6.jpg" class="dashboard__item" alt="Labrador puppy sits on grass with a frisbee caught around her head and in her mouth">
	<img src="/images/shrine/orla/orla7.jpg" class="dashboard__item" alt="Small labrador puppy wearing an orange harness, her head is tilted as she is backlit with sunlight.">
	<img src="/images/shrine/orla/orla8.jpg" class="dashboard__item" alt="Young labrador sits to the side amongst autumnal golden leaves, looking up with her mouth slightly open, waiting for a treat.">
	<img src="/images/shrine/orla/hows-it-going.jpg" class="dashboard__item" alt="Line drawings of a person lying on the floor next to a dog with the text 'How's it going down here? Are you OK?'">
	<img src="/images/shrine/orla/orla9.jpg" class="dashboard__item" alt="Young labrador stands proudly on small rocks with a river in the background.">
	<img src="/images/shrine/orla/orla10.jpg" class="dashboard__item" alt="Two labradors sit together, both sit waiting for a treat, the young one which is sat closest is smiling widely.">
	<img src="/images/shrine/orla/orla11.jpg" class="dashboard__item" alt="Labrador is led on a white duvet, she wears a dark blue neck bandana that says 'It's my birthday'">
	<img src="/images/shrine/orla/walk.jpg" class="dashboard__item" alt="When I ask my dog if she wants to go for a walk, first picture is a calm sitting dog, the second picture is a blurry dog going crazy.">
	<img src="/images/shrine/orla/orla12.jpg" class="dashboard__item" alt="Two dogs sit together outside, one is a white and brown Spanador and the other is a blonde labrador. They are both sitting waiting for a treat.">
	<img src="/images/shrine/orla/orla13.jpg" class="dashboard__item" alt="Labrador curled up sleeping, looks like a pastry.">
	<img src="/images/shrine/orla/orla14.jpg" class="dashboard__item" alt="Labrador wearing a blue harness sits side on, looking towards the camera with a huge floppy tongue hanging out the side of her mouth.">
	<img src="/images/shrine/orla/orla15.jpg" class="dashboard__item" alt="Soggy labrador walks forwards with her tail held high, a big puddle is in the background.">
	<video controls poster="/images/shrine/orla/orla-woods.jpg">
		<source src="/media/orla-woods.mp4" type="video/mp4">
	</video>
</div>
{%- endblock -%}
