<div class="bio">
	<h2 class="visually-hidden">Bio</h2>
	<div class="avatar">
		<div class="avatar__script swapAvatar">
			<noscript>
				<img class="avatar__noscript" src="/images/pic.png" alt="Black and white avatar illustration: a smiling woman with shoulder length dark hair, large eyes and sparkles surrounding her" width="200" height="200">
			</noscript>
		</div>
		<div class="avatar__extra">
			<button id="refreshAvatar" class="button hidden noscriptHide">
				🔃 Refresh<span class="avatar__hide"> avatar</span>
			</button>
			<span>🖼️ <a href="/collections/avatars" class="hidden">More<span class="avatar__hide">  avatars</span></a></span>
		</div>
	</div>
	<div class="biogrid">
        <div class="biogrid__icon">
            <span class="emoji" role="img" aria-label="Pronouns">🌷</span>
        </div>
        <div class="biogrid__content">
            she/her
        </div>
        <div class="biogrid__icon">
            <span class="emoji" role="img" aria-label="Astrological sign">♊</span>
        </div>
        <div class="biogrid__content">
            Gemini
        </div>
        <div class="biogrid__icon">
            <span class="emoji" role="img" aria-label="Location">📍</span>
        </div>
        <div class="biogrid__content">
            Wales, UK
        </div>
        <div class="biogrid__icon">
            <span class="emoji" role="img" aria-label="Local time">⏰</span>
        </div>
        <div class="biogrid__content">
            <span id="localTime" class="lowercase" title="British Summer Time">12:00pm</span> (GMT)
        </div>
        <div class="biogrid__icon">
            <span id="status" class="status" data-status="online"></span>
        </div>
        <div class="biogrid__content">
            <span id="statusText">Online now!</span>
        </div>
        
	</div>
</div>