<div class="bio">
	<h2 class="visually-hidden">Bio</h2>
	<div class="avatar">
		<div class="avatar__script swapAvatar">
			{# <noscript> #}
				<img class="avatar__noscript" src="/images/pic.png" alt="Black and white avatar illustration: a smiling woman with shoulder length dark hair, large eyes and sparkles surrounding her" width="200" height="200">
			{# </noscript> #}
		</div>
		<div class="avatar__extra">
			<button id="refreshAvatar" class="button hidden noscriptHide">
				🔃 Refresh<span class="avatar__hide"> avatar</span>
			</button>
			<span>🖼️ <a href="/collections/avatars" class="hidden">More<span class="avatar__hide">  avatars</span></a></span>
		</div>
	</div>
	<dl class="biogrid">
        <dt class="biogrid__icon">
            <span class="emoji" role="img" aria-label="Pronouns">🌷</span>
        </dt>
        <dd class="biogrid__content">
            she/her
        </dd>
        <dt class="biogrid__icon">
            <span class="emoji" role="img" aria-label="Astrological sign">♊</span>
        </dt>
        <dd class="biogrid__content">
            Gemini
        </dd>
        <dt class="biogrid__icon">
            <span class="emoji" role="img" aria-label="Location">📍</span>
        </dt>
        <dd class="biogrid__content">
            Wales, UK
        </dd>
        <dt class="biogrid__icon noscriptHide">
            <span class="emoji" role="img" aria-label="Local time">⏰</span>
        </dt>
        <dd class="biogrid__content noscriptHide">
            <span id="localTime" class="lowercase" title="British Summer Time">12:00pm</span> (GMT)
        </dd>
        <dt class="biogrid__icon">
            <span id="status" class="status" role="img" data-status="online" aria-label="Status"></span>
        </dt>
        <dd class="biogrid__content">
            <span id="statusText">Online now!</span>
        </dd>
	</dl>
</div>