<section class="reading-width">
	<h2>Friends</h2>
	<ul class="buttonwall">
		<li class="buttonwall__item">
			<a target="_blank" href="https://gothhoblin.me" style="font-size: 12px; background-color: #083820; color: #fff;">goth hoblin</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://www.thenotsomiserable.co.uk" style="font-size: 12px; background-color: #5f0979; color: #fff;">the not so miserable</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://teafuellednonsense.wordpress.com" class="" style="font-size: 12px; background-color: #fff; color: #00aadc;">Justin Blogs Again!</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://justnik.me/" style="font-size: 12px; background-color: #2d3748; color: #fff;">justnik</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://www.owain.codes/" style="font-size: 12px; background-color: #222831; color: #b6ff00;">owain.codes</a>
		</li>
	</ul>

	<h2>Neighbours</h2>
		<ul class="buttonwall">
		<li class="buttonwall__image">
			<a href="https://grlrot.neocities.org/" target="_blank">
				<img src="/images/buttons/grlrot.gif" alt="grlrot">
			</a>
		</li>
		<li class="buttonwall__image">
			<a href="https://hillhouse.neocities.org/" target="_blank">
				<img src="/images/buttons/hillhouse.png" alt="Hillhouse">
			</a>
		</li>
		<li class="buttonwall__image">
			<a href="https://jasm1nii.xyz/" target="_blank">
				<img src="/images/buttons/jasmines_journal.png" alt="Jasmine's Journal">
			</a>
		</li>
		<li class="buttonwall__image">
			<a href="https://lostletters.neocities.org/" target="_blank">
				<img src="/images/buttons/lostletters.gif" alt="Lost Letters">
			</a>
		</li>
		<li class="buttonwall__image">
			<a href="https://sunosin.neocities.org/" target="_blank">
				<img src="/images/buttons/lipu_pi_jan_sunosin.png" alt="lipu pi jan sunosin">
			</a>
		</li>
		<li class="buttonwall__image">
			<a href="https://maria.town/" target="_blank">
				<img src="/images/buttons/marzka_cafe.png" alt="Maria">
			</a>
		</li>
		<li class="buttonwall__image">
			<a href="https://maya.land/" target="_blank">
				<img src="/images/buttons/maya_land.png" alt="Maya Land">
			</a>
		</li>
		<li class="buttonwall__image">
			<a href="https://melonking.net/" target="_blank">
				<img src="/images/buttons/melonking.gif" alt="Melon King">
			</a>
		</li>
		<li class="buttonwall__image">
			<a href="https://moonpr1sm.neocities.org" target="_blank">
				<img src="/images/buttons/moonpr1sm.png" alt="Moon Prism">
			</a>
		</li>
		<li class="buttonwall__image">
			<a href="https://neonaut.neocities.org/" target="_blank">
				<img src="/images/buttons/neonaut.png" alt="Neonaut">
			</a>
		</li>
		<li class="buttonwall__image">
			<a href="https://pinkvampyr.neocities.org/" target="_blank">
				<img src="/images/buttons/pinkvampyr.gif" alt="PinkVampyr">
			</a>
		</li>
		<li class="buttonwall__image">
			<a href="https://punkwasp.neocities.org/" target="_blank">
				<img src="/images/buttons/punkwasp.png" alt="PunkWasp">
			</a>
		</li>
		<li class="buttonwall__image">
			<a href="https://sneekrealm.neocities.org/" target="_blank">
				<img src="/images/buttons/sneekrealm.png" alt="Sneek Realm">
			</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://jessicajournals.com" style="font-size: 10px; background-color: #1e1e2e; color: #A5E3A1; background-image: linear-gradient(to left, #181825, #1e1e2e)">jessica journals</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://nohappynonsense.net/" style="font-size: 10px; background-color: #fcfce3; color: black;">no happy nonsense</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://sleepydev.neocities.org" style="font-size: 13px; background-color: #f9f9f9; color: blueviolet;">sleepy dev</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://10kph.neocities.org" style="font-size: 14px; background-color: #1c1e26; color: #e95678;">10kph</a>
		</li>
	</ul>

	<h2>Tools & fun things</h2>
	<ul class="buttonwall">
		<li class="buttonwall__image">
			<a href="https://wiby.me/" target="_blank">
				<img src="/images/buttons/wiby.gif" alt="Wiby">
			</a>
		</li>
		<li class="buttonwall__image">
			<a href="http://web.archive.org/" target="_blank">
				<img src="/images/buttons/wayback_machine.png" alt="Internet Archive: Wayback Machine">
			</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://css-tricks.com/" style="font-size: 14px; background-color: #383838; color: #ff7a18;">CSS tricks</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://codepen.io/" style="font-size: 13px; background-color: #1e1f26; color: #47cf73;">CodePen</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://goblin.tools/" style="font-size: 14px; background-color: black; color: limegreen;">goblin tools</a>
		</li>
	</ul>
	<h2>Creatives</h2>
	<ul class="buttonwall">
		{# Artists #}
		<li class="buttonwall__item">
			<a target="_blank" href="https://www.patreon.com/cheyennebarton" style="font-size: 14px; background-color: #ffc929; color: #fa4723;">cheyenne barton</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://www.furrylittlepeach.com" style="font-size: 12px; background-color: #f0490a; color: #fff;">furry little peach </a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://www.patreon.com/girlscape" style="font-size: 13px; background-color: #ff91bb; color: #fff;">girlscape</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://leighellexson.com" style="font-size: 12px; background-color: #9bc18a; color: #fdfbf7;">Leigh Ellexson</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://www.pansy-shop.com" style="font-size: 16px; background-color: #ffe3e2; color: #220967;">pansy</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://www.patreon.com/palomathepeach" style="font-size: 12px; background-color: #feebb3; color: #212117;">paloma the peach</a>
		</li>
		<li class="buttonwall__item">
			<a target="_blank" href="https://uncomfyco.com" style="font-size: 13px; background-color: #603814; color: #fff;">uncomfyco</a>
		</li>
	</ul>
	<button id="toggleHighContrast" class="button mb-1" aria-pressed="false">Enable high contrast</button>
</section>

{% block scripts %}
    <script>
        const t = document.getElementById('toggleHighContrast')
        const w = document.querySelectorAll('.buttonwall')
        const o = "Enable high contrast"
        const c = "Disable high contrast"
		if (t) {t.addEventListener("click",(function(){w.forEach((s=>{s.classList.contains("--highcontrast")?(t.innerHTML=o,t.setAttribute("aria-pressed",!1),s.classList.remove("--highcontrast")):(t.innerHTML=c,t.setAttribute("aria-pressed",!0),s.classList.add("--highcontrast"))}))}));}
	</script>
{% endblock %}