<div aria-hidden="true" class="colourpalette">
	<div style="background-color: var(--text)"></div>
	<div style="background-color: var(--subtext)"></div>
	<div style="background-color: var(--accent)"></div>
	<div style="background-color: var(--interactive)"></div>
	<div style="background-color: var(--link)"></div>
	<div style="background-color: var(--linkhover)"></div>
	<div style="background-color: var(--linkvisited)"></div>
	<div style="background-color: var(--dashboard-header-bg)"></div>
	<div style="background-color: var(--callout-info)"></div>
	<div style="background-color: var(--logo-anim-1)"></div>
	<div style="background-color: var(--logo-anim-2)"></div>
	<div style="background-color: var(--logo-anim-3)"></div>
	<div style="background-color: var(--logo-anim-4)"></div>
	<div style="background-color: var(--logo-anim-5)"></div>
	<div style="background-color: var(--logo-anim-6)"></div>
	<div style="background-color: var(--bodybg)"></div>
</div>