<ul aria-hidden="true" class="colourpalette">
	<li style="background-color: var(--text)"></li>
	<li style="background-color: var(--subtext)"></li>
	<li style="background-color: var(--accent)"></li>
	<li style="background-color: var(--interactive)"></li>
	<li style="background-color: var(--link)"></li>
	<li style="background-color: var(--linkhover)"></li>
	<li style="background-color: var(--linkvisited)"></li>
	<li style="background-color: var(--dashboard-header-bg)"></li>
	<li style="background-color: var(--callout-info)"></li>
	<li style="background-color: var(--logo-anim-1)"></li>
	<li style="background-color: var(--logo-anim-2)"></li>
	<li style="background-color: var(--logo-anim-3)"></li>
	<li style="background-color: var(--logo-anim-4)"></li>
	<li style="background-color: var(--logo-anim-5)"></li>
	<li style="background-color: var(--logo-anim-6)"></li>
	<li style="background-color: var(--bodybg)"></li>
</ul>