{# Header #}
{%- macro header(title = '', description = '', modifiers = '') -%}
<header class="header {{modifiers}}">
        <h1>{{- title | safe-}}</h1>
        <p class="italic">{{- description | safe -}}</p>
    </header>
{%- endmacro -%}
{# Header END #}

{# Callout #}
{%- macro callout(element = "div", modifiers = '', emoji = '', style = '', header = '', body = '') -%}
<{{element}} class="callout {{modifiers}}" {%- if style -%} style="{{style}}"{%- endif -%}>
    {%- if emoji -%}
    <div class="callout-emoji">
        {{emoji|safe}}
    </div>
    {%- endif -%}
    <div class="callout-content">
        {%- if header -%}
        <header>{{header|safe}}</header>
        {%- endif -%}
        {{- body|safe -}}
    </div>
</{{element}}>
{%- endmacro -%}
{# Callout END #}

{# Details #}
{%- macro details(summary = '', body = '')-%}
<details>
    <summary>{{- summary | safe-}}</summary>
    <div class="pb-1">
        {{- body | safe -}}
    </div>
</details>
{%- endmacro -%}
{# Details END #}