<aside class="webrings pt-2">
	<h2 class="visually-hidden">Webrings</h2>

	{% include "structure/components/webrings/retronaut.njk" %}
	{% include "structure/components/webrings/hotline.njk" %}
	{% include "structure/components/webrings/neossg.njk" %}
	{% include "structure/components/webrings/ladiesofthelinks.njk" %}
	{% include "structure/components/webrings/genlissa.njk" %}
	{% include "structure/components/webrings/bukmarkclub.njk" %}

</aside>