.article {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--accent);
}

.article:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
}

.article :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}