@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url('../fonts/atkinson-hyperlegible/regular.woff2') format("woff2");
  font-display: optional;
}

@font-face {
  font-family: 'AtkinsonHyperlegible';
  font-style: italic;
  src: url('../fonts/atkinson-hyperlegible/regular-italic.woff2') format("woff2");
  font-display: optional;
}

@font-face {
  font-family: 'AtkinsonHyperlegible';
  font-weight: bold;
  src: url('../fonts/atkinson-hyperlegible/bold.woff2') format("woff2");
  font-display: optional;
}

@font-face {
  font-family: 'AtkinsonHyperlegible';
  font-style: oblique;
  font-weight: bold;
  src: url('../fonts/atkinson-hyperlegible/bold-italic.woff2') format("woff2");
  font-display: optional;
}