textarea,
input,
select {
    margin: 0 0 1rem 0;
}

textarea {
    border: 1px solid orangered;
    border-radius: 4px;
    color: var(--text);
    background-color: var(--bodybg);
    padding: 4px 14px;
    min-height: 5rem;
}

input {
    accent-color: orangered;
}

label {
    display: block;
    font-weight: bold;
}