:root {
    --logo-x: Gold;
}


@keyframes colour {
    0% {
        fill: hsl(255, 70%, 70%);
        stroke: hsl(255, 70%, 70%)
    }

    10% {
        fill: hsl(330, 70%, 70%);
        stroke: hsl(330, 70%, 70%)
    }

    50% {
        fill: hsl(10, 100%, 60%);
        stroke: hsl(10, 100%, 60%)
    }

    60% {
        fill: hsl(51, 100%, 60%);
        stroke: hsl(51, 100%, 60%)
    }

    80% {
        fill: hsl(153, 70%, 70%);
        stroke: hsl(153, 70%, 70%)
    }

    100% {
        fill: hsl(204, 70%, 70%);
        stroke: hsl(204, 70%, 70%)
    }
}

@media (prefers-color-scheme: light) {
    @keyframes colour {
        0% {
            fill: hsl(255, 70%, 70%);
            stroke: hsl(255, 70%, 70%)
        }

        10% {
            fill: hsl(330, 100%, 40%);
            stroke: hsl(330, 100%, 40%)
        }

        50% {
            fill: hsl(10, 100%, 50%);
            stroke: hsl(10, 100%, 50%)
        }

        80% {
            fill: hsl(153, 100%, 40%);
            stroke: hsl(153, 100%, 40%)
        }

        100% {
            fill: hsl(204, 100%, 50%);
            stroke: hsl(204, 100%, 50%)
        }

    }
}

@keyframes blink {
    0% {
        fill: var(--logo-x);
    }

    30% {
        fill: transparent;
    }

    100% {
        fill: transparent;
    }
}

.logo {
    max-height: 60px;
    transform: translateX(15px)
}

.logo:hover .logo-tx {
    fill: transparent !important;
}

@media (min-width: 768px) {
    .logo {
        max-width: 200px;
        max-height: none;
        transform: none;
    }
}

.logo-tx {
    fill: hsl(330, 70%, 70%);
    stroke-width: 0;
    stroke: hsl(330, 70%, 70%)
}

@media (prefers-reduced-motion: no-preference) {
    .logo-tx {
        animation: colour 10s 0s linear infinite forwards alternate;
    }

    .logo:hover .logo-tx {
        stroke-width: 1px;

    }

    .logo-x {
        fill: transparent;
        animation-name: blink;
        animation-fill-mode: normal;
        animation-iteration-count: infinite;
        animation-direction: backwards;
        animation-duration: 7500ms;
    }

    .logo-x:nth-child(3) {
        animation-delay: 1000ms;
    }

    .logo-x:nth-child(2) {
        animation-delay: 1850ms;
    }

    .logo-x:nth-child(1) {
        animation-delay: 2500ms;
    }
}