@keyframes colour {
    0% {
        fill: var(--logo-anim-1);
        stroke: var(--logo-anim-1);
    }

    10% {
        fill: var(--logo-anim-2);
        stroke: var(--logo-anim-2);
    }

    50% {
        fill: var(--logo-anim-3);
        stroke: var(--logo-anim-3);
    }

    60% {
        fill: var(--logo-anim-4);
        stroke: var(--logo-anim-4);
    }

    80% {
        fill: var(--logo-anim-5);
        stroke: var(--logo-anim-5);
    }

    100% {
        fill: var(--logo-anim-6);
        stroke: var(--logo-anim-6);
    }
}

@keyframes blink {
    0% {
        fill: var(--logo-x);
    }

    30% {
        fill: transparent;
    }

    100% {
        fill: transparent;
    }
}

.logo {
    max-height: 60px;
    transform: translateX(15px)
}

.logo:hover .logo-tx {
    fill: transparent !important;
}

@media (min-width: 768px) {
    .logo {
        max-width: 200px;
        max-height: none;
        transform: none;
    }
}

.logo-tx {
    fill: hsl(330, 70%, 70%);
    stroke-width: 0;
    stroke: hsl(330, 70%, 70%)
}

@media (prefers-reduced-motion: no-preference) {
    .logo-tx {
        animation: colour 10s 0s linear infinite forwards alternate;
    }

    .logo:hover .logo-tx {
        stroke-width: 1px;

    }

    .logo-x {
        fill: transparent;
        animation-name: blink;
        animation-fill-mode: normal;
        animation-iteration-count: infinite;
        animation-direction: backwards;
        animation-duration: 7500ms;
    }

    .logo-x:nth-child(3) {
        animation-delay: 1000ms;
    }

    .logo-x:nth-child(2) {
        animation-delay: 1850ms;
    }

    .logo-x:nth-child(1) {
        animation-delay: 2500ms;
    }
}