
.toggle {
  width: 50px;
  height: 24px;
  border-radius: 20px;
  padding: 2px;
  box-shadow: none;
  background: transparent;
  border: 2px solid white;
  font-size: 0;
  transform: none;
  display: none;
}

.toggle:active,
.toggle:hover {
  transform: none;
  background: transparent;
}

.toggle::before {
  content: '';
  left: auto;
  right: calc(100% - 20px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: inset -6px -6px 0 0 white;
  height: 10px;
  width: 10px;
  padding: 1px;
  border-radius: 18px;
  border: 2px dotted white;
}

.toggle::after {
  content: '';
  height: 14px;
  width: 14px;
  background-color: white;
  border-color: black;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 18px;
  right: auto;
  left: 2px;
  position: absolute;
  transition: 0.3s ease left;
}

.toggle[aria-pressed='true'] {
  transform: none;
  border-color: white;
}

.toggle[aria-pressed='true']::before {
  box-shadow: inset -16px -16px 0 0 white;
  right: 2px;
  height: 12px;
  width: 12px;
}

.toggle[aria-pressed='true']::after {
  left: 2px;
  right: auto;
  background-color: black;
  border: 2px solid white;
}
