h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2
}
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  padding: 1rem 0 0 0;
}

h1 {
  font-size: 2rem
}

h2 {
  font-size: 1.5rem
}

h3 {
  font-size: 1.2rem
}

h4,
h5,
h6 {
  font-size: 1rem
}

a {
  text-decoration: underline;
  color: var(--link);
}

a.hidden {
  text-decoration: inherit;
  color: inherit;
}

a:hover,
a:focus,
a:active a.hidden:hover,
a.hidden:focus,
a.hidden:active {
  color: var(--linkhover);
  text-decoration: underline wavy 2px;
}

a:hover,
a:focus {
  color: var(--linkhover)
}

p {
  margin: 0 0 1rem
}

em {
  font-style: normal;
  color: var(--accent);
}