:root {
  --bodybg: #0b0b0b;
  --bg: Black;
  --accent: Gold;
  --interactive: OrangeRed;
  --link: DeepPink;
  --linkaccent: HotPink;
  --linkhover: SpringGreen;
  --text: LavenderBlush;
  --pink: DeepPink;
  --font-size: 16px;
  --font-family: 'Atkinson Hyperlegible', 'Tahoma', sans-serif;
}

@media (min-width: 576px) {
  :root {
    --font-size: 20px;
  }
}

body[data-color-scheme='dark'] {
  --bodybg: #0b0b0b;
  --bg: Black;
  --accent: Gold;
  --interactive: OrangeRed;
  --link: DeepPink;
  --linkaccent: HotPink;
  --linkhover: SpringGreen;
  --text: LavenderBlush;
  --pink: DeepPink;
}

@media (prefers-color-scheme: light) {
  :root {
    --bodybg: LavenderBlush;
    --bg: Snow;
    --interactive: #e1007a;
    --accent: #d73a00;
    --link: Blue;
    --linkaccent: LightSteelBlue;
    --linkhover: #e1007a;
    --text: Black;
  }
}

body[data-color-scheme='light'] {
  --bodybg: LavenderBlush;
  --bg: Snow;
  --interactive: #e1007a;
  --accent: #d73a00;
  --link: Blue;
  --linkaccent: LightSteelBlue;
  --linkhover: #e1007a;
  --text: Black;
}