/* Global variables */
:root {
  --font-family: 'Atkinson Hyperlegible', 'Tahoma', sans-serif;
  --font-size: 16px;
}

@media (min-width: 576px) {
  :root {
    --font-size: 20px;
  }
}

/* Colours */
/* Dark mode */
:root {
  --bodybg: #0b0b0b;
  --bg: Black;
  --accent: Gold;
  --interactive: OrangeRed;
  --link: DeepPink;
  --linkaccent: Maroon;
  --linkhover: SpringGreen;
  --text: LavenderBlush;
  --pink: DeepPink;
  --logo-x: Gold;
  --logo-anim-1: hsl(255, 70%, 70%);
  --logo-anim-2: hsl(330, 70%, 70%);
  --logo-anim-3: hsl(10, 100%, 60%);
  --logo-anim-4: hsl(51, 100%, 60%);
  --logo-anim-5: hsl(153, 70%, 70%);
  --logo-anim-6: hsl(204, 70%, 70%);
}
html[data-scheme='dark'] {
  --bodybg: #0b0b0b;
  --bg: Black;
  --accent: Gold;
  --interactive: OrangeRed;
  --link: DeepPink;
  --linkaccent: Maroon;
  --linkhover: SpringGreen;
  --text: LavenderBlush;
  --pink: DeepPink;
  --logo-anim-1: hsl(255, 70%, 70%);
  --logo-anim-2: hsl(330, 70%, 70%);
  --logo-anim-3: hsl(10, 100%, 60%);
  --logo-anim-4: hsl(51, 100%, 60%);
  --logo-anim-5: hsl(153, 70%, 70%);
  --logo-anim-6: hsl(204, 70%, 70%);
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --bodybg: LavenderBlush;
    --bg: Snow;
    --interactive: #e1007a;
    --accent: #d73a00;
    --link: Blue;
    --linkaccent: LightSteelBlue;
    --linkhover: #e1007a;
    --text: Black;
    --logo-anim-1: hsl(255, 70%, 70%);
    --logo-anim-2: hsl(330, 100%, 40%);
    --logo-anim-3: hsl(10, 100%, 50%);
    --logo-anim-4: hsl(320, 100%, 50%);
    --logo-anim-5: hsl(204, 100%, 50%);
    --logo-anim-6: hsl(153, 100%, 40%);

  }
}
html[data-scheme='light'] {
  --bodybg: LavenderBlush;
  --bg: Snow;
  --interactive: #e1007a;
  --accent: #d73a00;
  --link: Blue;
  --linkaccent: LightSteelBlue;
  --linkhover: #e1007a;
  --text: Black;
  --logo-anim-1: hsl(255, 70%, 70%);
  --logo-anim-2: hsl(330, 100%, 40%);
  --logo-anim-3: hsl(10, 100%, 50%);
  --logo-anim-4: hsl(320, 100%, 50%);
  --logo-anim-5: hsl(204, 100%, 50%);
  --logo-anim-6: hsl(153, 100%, 40%);
}