* {
    display: block;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1rem;
}

channel {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
}

channel>title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 30px;
}

item {
    background: peachpuff;
    border-radius: 0.75rem;
    padding: 1rem;
    margin: 15px 0 30px 0;
}

item title {
    font-weight: 600;
    margin-bottom: 10px;
}

item description {
    max-width: 100%;
    max-height: 300px;
    overflow: auto;
    padding: 1rem;
    margin: 1rem -1rem;
    background: rgba(255,255,255,0.3)
}

item description a {
    display: inline;
}