button,
.button,
input[type="submit"] {
  font-family: var(--font-family);
  text-decoration: none;
  will-change: transform;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: gold;
  color: black;
  border: 0;
  box-shadow: 4px 4px 0 0 DarkGoldenRod;
  cursor: pointer;
  transition: 0.3s ease transform, 0.3s ease background-color, 0.3s ease box-shadow;
}

.button:hover,
button:hover {
  background-color: #eec900;
}

.button:hover,
.button:active,
.button[aria-pressed="true"],
button:hover,
button:active,
button[aria-pressed="true"] {
  text-decoration: none;
  color: black;
  transform: translate(4px, 4px);
  box-shadow: 0 0 0 0 DarkGoldenRod;
}

.button.secondary,
button.secondary {
  color: var(--bg);
  background-color: var(--link);
  box-shadow: 4px 4px 0 0 var(--linkaccent);
}

.button.secondary:hover,
button.secondary:hover {
  background-color: var(--linkhover);
  transform: translate(4px, 4px);
  box-shadow: 0 0 0 0 DarkGoldenRod;
}

.button.ghost,
button.ghost {
  will-change: transform;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: transparent;
  color: var(--text);
  border: 0;
  box-shadow: inset 0 0 0 2px var(--link), 4px 4px 0 0 var(--linkaccent);
  cursor: pointer;
  transition: 0.3s ease transform, 0.3s ease background-color, 0.3s ease box-shadow;
}

.button.ghost:hover,
button.ghost:hover {
  background-color: transparent;
}
.button.ghost:hover,
button.ghost:hover,
.button.ghost:active,
.button.ghost[aria-pressed="true"],
button.ghost:active,
button.ghost[aria-pressed="true"] {
  transform: translate(4px, 4px);
  box-shadow: inset 0 0 0 2px var(--link), 0 0 0 0 var(--linkaccent);
}

button.hidden {
  transform: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  color: var(--text);
  font-size: inherit;
}
button.hidden:hover,
button.hidden:focus,
button.hidden:active {
  transform: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  color: var(--linkhover);
  text-decoration: underline wavy 2px;
}

.copyButton {
  font-size: 0;
  width: 25px;
  height: 25px;
  flex: 0 0 25px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  background-image: url('data:image/svg+xml,<svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 3.5H10V16H0V3.5ZM2 5.5V14H8V5.5H2Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3 0.5H13V13H9.5V11H11V2.5H5V4H3V0.5Z" fill="black"/></svg>');
  background-color: rgba(255,255,255,0.75);
  box-shadow: inset 0 0 0 2px white, 4px 4px 0 0 rgba(255,255,255,0.3)
}

.copyButton:hover,
.copyButton:active {
  background-color: white;
  transform: translate(4px, 4px);
  box-shadow: inset 0 0 0 2px white, 0 0 0 0 rgba(255,255,255,0.3)
}

.copyButton:active {
  background-image: url('data:image/svg+xml,<svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.7072 5.70718L4.50008 12.9143L0.792969 9.20718L2.20718 7.79297L4.50008 10.0859L10.293 4.29297L11.7072 5.70718Z" fill="black"/></svg>');
}