details {}

details.hidden summary:not(:hover):not(:focus):not(:active) {
    color: var(--text);
}

summary {
  text-decoration: underline;
  color: var(--link);
}

summary:hover,
summary:focus,
summary:active,
details[open] summary {
  color: var(--linkhover);
  text-decoration: underline wavy 2px;
}