/* Goodreads */
.--goodreads center,
.--goodreads br,
.--goodreads [class^="gr_custom_header"] {
  display: none;
}

.--goodreads a {
  text-decoration: inherit;
  color: inherit;
}

.--goodreads a:hover,
.--goodreads a:focus,
.--goodreads a:active {
  color: var(--linkhover);
  text-decoration: underline wavy 2px;
}

.--goodreads [class^="gr_custom_title"],
.--goodreads [class^="gr_custom_author"] {
  display: inline;
}