/* Links */
.links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1px;
  padding: 0;
  margin: 0 0 2rem
}

.links li::marker {
  content: '';
}

.links--highcontrast .links__item a {
  background: var(--bg) !important;
  color: var(--text) !important;
  box-shadow: inset 0 0 0 1px var(--text) !important;
  text-decoration: underline !important
}

.links__image,
.links__item {
  width: 88px;
  height: 31px;
}

.links__image a,
.links__item a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform .4s ease;
  will-change: transform;
  backface-visibility: hidden;
}

.links__image img {
  display: block;
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}

.links__item a {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  word-break: normal;
  padding: 0 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.1;
  position: relative;
  padding: 2px;
  backface-visibility: hidden;
}

.links__item a::before {
  content: '';
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: soft-light;
}

.links__item a:active,
.links__item a:focus,
.links__item a:hover,
.links__image a:active,
.links__image a:focus,
.links__image a:hover {
  transform: translate(2px, 2px) translateZ(0);
  text-decoration: none;
  z-index: 1;
}