@media (min-width: 1200px) {
  .page__nav--top {
    max-width: 700px;
  }
}

.page__nav {
  padding-top: 0.5rem;
}

.page__nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

@media (min-width: 768px) {
  .page__nav ul {
    column-gap: 1.5rem;
    justify-content: flex-start;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .page__nav ul {
    row-gap: 1.5rem;
  }
}

.page__nav ul li a {
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.page__nav ul li .notification {
  vertical-align: super;
  background-color: var(--accent);
  border-radius: 10px;
  font-size: 10px;
  color: var(--accentcontrast);
  padding: 2px 5px;
  margin-left: 4px;
  font-weight: 700;
  text-transform: uppercase;
}