
.toggle {
  width: 44px;
  height: 44px;
  font-size: 0!important;
  padding: 0!important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  transition: 0.3s ease background-color;
  border-radius: 0.25rem;
}

.toggle:hover,
.toggle:focus {
  background-color: var(--bodybg);
}

.toggle--colorscheme::before {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.8rem;
  border: 2px solid var(--text);
  display: block;
  transition: 0.3s ease all;
  background-color: transparent;
  background-image: linear-gradient(to right, transparent 50%, var(--text) 50%);
}

.toggle--colorscheme[aria-pressed="true"]::before {
  background-image: linear-gradient(to right, var(--text) 50%, transparent 50%);
}