/* Webrings */
.webrings {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 15px;
  font-size: 90%;
  flex-wrap: wrap;
}

.webrings>* {
  display: flex;
  align-items: center;
}

[class*="webring--"] {
  background-color: var(--bodybg);
  padding: 4px;
}

.webring__prev,
.webring__next,
.webring-prev,
.webring-next,
.webring__random {
  font-size: 0 !important;
  width: 30px;
  display: inline-block;
  text-align: center;
  transform: translateX(000.1px);
  transition: 0.3s ease transform;
}

.webring__random::before {
  content: '🔀';
  transition: 0.3s ease transform;
}

.webring__random:hover::before,
.webring__random:focus::before {
  transform: scaleX(-1);
}

.webring__prev:hover,
.webring__prev:focus,
.webring-prev:hover,
.webring-prev:focus {
  transform: translateX(-2px)
}

.webring__next:hover,
.webring__next:focus,
.webring-next:hover,
.webring-next:focus {
  transform: translateX(2px)
}

.webring__prev::before,
.webring__next::before,
.webring-prev a::before,
.webring-next a::before {
  content: '➡️';
}

.webring__prev::before,
.webring-prev a::before {
  transform: scaleX(-1);
  display: inline-block;
}

.webring__prev::before,
.webring__next::before,
.webring-prev a::before,
.webring-next a::before,
.webring__random::before {
  font-size: 0.8rem;
  display: inline-block;
}