<div class="webring--cssjoy">
	<a href="https://webri.ng/webring/cssjoy/previous?via=https%3A%2F%2Ffrills.dev" class="webring__prev">Previous CSS Joy site</a>
	<a href="https://cs.sjoy.lol/">CSS Joy</a>
	<a href="https://webri.ng/webring/cssjoy/random?via=https%3A%2F%2Ffrills.dev" class="webring__random">Random CSS Joy site</a>
	<a href="https://webri.ng/webring/cssjoy/next?via=https%3A%2F%2Ffrills.dev" class="webring__next">Next CSS Joy site</a>
</div>