<div class="webring--genlissa">
	<a href="https://genlissa.baccyflap.com/?prv&s=frl" class="webring__prev">Previous Site</a>
	<a href="https://genlissa.baccyflap.com">Gen Lissa</a>
	<a href="https://genlissa.baccyflap.com/?rnd" class="webring__random">Random Site</a>
	<a href="https://genlissa.baccyflap.com/?nxt&s=frl" class="webring__next">Next Site</a>
</div>