<div class="webring--genlissa">
	<a href="https://webri.ng/webring/genlissa/previous?via=http://frills.dev" class="webring__prev">Previous Site</a>
	<a href="https://genlissa.neocities.org/#members">Gen Lissa</a>
	<a href="https://webri.ng/webring/genlissa/random?via=http://frills.dev" class="webring__random">Random Site</a>
	<a href="https://webri.ng/webring/genlissa/next?via=http://frills.dev" class="webring__next">Next Site</a>
</div>