<div class="webring--hotline">
    <a href="https://hotlinewebring.club/frills/next" class="webring__prev">Previous hotline site</a>
    <a href="https://hotlinewebring.club/" target="_blank">hotline</a>
    <a href="https://hotlinewebring.club/frills/previous" class="webring__next">Next hotline site</a>
</div>