<div class="webring--indieweb">
	<a href="https://xn--sr8hvo.ws/previous" class="webring__prev">Previous IndieWeb site</a>
	<a href="https://xn--sr8hvo.ws">IndieWeb</a>
	<a href="https://xn--sr8hvo.ws/next" class="webring__next">Next IndieWeb site</a>
</div>



