<div class="webring--ladiesofthelink">
	<a href="https://webri.ng/webring/ladiesofthelinks/previous?via=https%3A%2F%2Ffrills.dev" class="webring__prev">Previous Ladies of the Links site</a>
	<a href="https://ladiesofthe.link/">Ladies of the Links</a>
	<a href="https://webri.ng/webring/ladiesofthelinks/random?via=https%3A%2F%2Ffrills.dev" class="webring__random">Random Ladies of the Links site</a>
	<a href="https://webri.ng/webring/ladiesofthelinks/next?via=https%3A%2F%2Ffrills.dev" class="webring__next">Next Ladies of the Links site</a>
</div>