<div class="webring--neossg">
	<div id="neossg">
		<noscript><a href="https://neossg.neocities.org/">NeoSSG</a></noscript>
		<script src="https://neossg.neocities.org/onionring-variables.js"></script>
		<script src="https://neossg.neocities.org/onionring-widget.js"></script>
	</div>
</div>