<div class="webring--retronaut">
	<a href="https://webring.dinhe.net/prev/https://fri11s.neocities.org/" class="webring__prev">Previous retronaut site</a>
	<a href="https://webring.dinhe.net/" target="_blank">retronaut</a>
	<a href="https://webring.dinhe.net/next/https://fri11s.neocities.org/" class="webring__next">Next retronaut site</a>
</div>