{% extends "structure/core/base.njk" %}

{%- block content -%}
<main class="page__main grid grid--main" id="main">
    <div class="content__sidebar">
        {%- block left -%}
        {%- endblock %}
    </div>
    <section class="content__main">
        <div class="content__inner">
            {%- block main -%}
            {{- content | safe -}}
            {%- endblock %}
        </div>
    </section>
</main>
{%- endblock %}