{% extends "structure/core/base.njk" %}

{% block content %}
<main tabindex="0" class="page__main" id="main">
    <section class="content__main">
        <div class="content__inner">
            <h1>{{title}}</h1>
            {% if description %}
                <div class="reading-width mb-2">
                    {{description | safe}}
                </div>
            {% endif %}
            {% block main %}
            {{ content | safe }}
            {% endblock %}

            {% block bottom %}
            {% endblock %}
        </div>
    </section>
</main>
{% endblock %}