---
title: Sticker album
rss: true
date: 2023-11-17
style: '
.stickergrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.sticker:nth-child(1) {
    grid-column: 1 / span 5;
    grid-row: 1 / span 2;
}

.sticker:nth-child(2) {
    grid-column: 10 / span 2;
    grid-row: 1 / span 1;
}

.sticker:nth-child(3) {
    grid-column: 4 / span 4;
    grid-row: 4 / span 1;
}

.sticker:nth-child(4) {
    grid-column: 6 / span 3;
    grid-row: 2 / span 2;
}

.sticker:nth-child(5) {
    grid-column: 7 / span 3;
    grid-row: 1 / span 1;
}

.sticker:nth-child(6) {
    grid-column: 8 / span 4;
    grid-row: 3 / span 2;
}

.sticker:nth-child(8) {
    grid-column: 1 / span 3;
    grid-row: 3 / span 2;
}

.sticker:nth-child(9) {
    grid-column: 10 / span 2;
    grid-row: 2 / span 1;
}

.sticker {
    position: relative;
}

.sticker img {
    filter: drop-shadow(4px 0 0 white) drop-shadow(0 -4px 0 white) drop-shadow(-4px 0 0 white) drop-shadow(0 4px 0 white) saturate(1.8);
}
'
---
{% extends 'structure/templates/page-full.njk'%}
{% import "structure/components/components.njk" as macro with context %}

{%- block main -%}
<div class="stickergrid">
    <div class="sticker">
        <img src="/images/stickers/mercy.png" alt="Mercy from Overwatch 1 in the pink skin that raised money for Breast Cancer Research" loading="lazy">
    </div>
    <div class="sticker">
        <img src="/images/stickers/killjoy.png" alt="A little purple sentry gun which belongs to Killjoy, an engineer from Valorant. A blue question and exclamation mark sit above it as it's seen someone and is about to shoot them" loading="lazy">
    </div>
    <div class="sticker">
        <img src="/images/stickers/helios.png" alt="Stone bust of Helios" loading="lazy">
    </div>
    <div class="sticker">
        <img src="/images/stickers/dog-laika.png" alt="A floating black dog in space wearing an orange spacesuit with stars around it. It depicts Laika the first animal in space" loading="lazy">
    </div>
    <div class="sticker">
        <img src="/images/stickers/pusheen.png" alt="It's pusheen! A very plump grey/brown cat. He's dressed up as a unicorn so has a horn and a rainbow mane and tail" loading="lazy">
    </div>
    <div class="sticker">
        <img src="/images/stickers/flowers.png" alt="3 flowers, one is big and orange, one is pale pink and the other is has a stem and green leaves and a small white bud" loading="lazy">
    </div>
    <div class="sticker">
        <img src="/images/stickers/fairy-gnome.png" alt="A behatted gnome sits. Peach hat, orange hair, green coat, and yellow pants" loading="lazy">
    </div>
    <div class="sticker">
        <img src="/images/stickers/dog-butterfly.png" alt="A cream coloured dog sits next to a blue butterfly" loading="lazy">
    </div>
    <div class="sticker">
        <img src="/images/stickers/cat-killjoy.png" alt="Plump pinkish white cat sits, eyes look suspiciously at you. It has hearts on it's cheeks and a big red bow collar with a heart tag that says kill joy. It's a feminist." loading="lazy">
    </div>
</div>
<div class="pt-2">
    <ol class="stars">
        <li><a href="https://www.deviantart.com/hanagluskin/art/F2u-Pink-Mercy-Spray-III-761684949">Pink Mercy</a></li>
        <li><a href="https://www.reddit.com/r/VALORANT/comments/i3qes8/fanart_killjoy_and_more">Killjoy turret</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Head_Helios_AM_Rhodes_E49_%28bust_only%29.png">Helios bust</a></li>
        <li><a href="https://giphy.com/stickers/happy-illustration-loop-cnGJ92Bii3GiDZQqJs">Dog in space by Zodchiy</a></li>
        <li><a href="https://pusheen.com/">Pusheen sticker</a></li>
        <li><a href="https://giphy.com/gifs/flowers-daisies-happy-UQEHEQTpQUcX1sQpGb">Flowers by Sophie Potter</a></li>
        <li><a href="https://giphy.com/stickers/small-gnome-cute-URvIXxUn5ptazkr5ZB">Fairy Gnome by Cheynne Barton</a></li>
        <li><a href="https://giphy.com/gifs/3-leigh-ellexson-ROk1VeDJ32OzeE52md">Dog with butterflyby Leigh Ellexson</a></li>
        <li><a href="https://giphy.com/stickers/cat-feminist-killjoy-5QI5AMCoQNzaG51UIV">Cat feminist by Ambivalently Yours</a></li>
    </ol>
</div>
{%- endblock -%}
