.dashboard {
  column-width: 250px;
  gap: 1rem;
  width: 100%;
  font-size: 85%;
  margin-bottom: 2rem;
  /* max-width: 950px; */
  /* height: 100%; */
}

@media (min-width: 1435px) {
  .dashboard {
    column-width: 325px;
  }
}

.dashboard.w-100 {
  max-width: 100%;
}

.dashboard__item {
  width: 100%;
  margin-bottom: 1rem;
  break-inside: avoid;
}

.dashboard__item-image {
  background-color: var(--dashboard-bg);
}

.dashboard__item-image img {
  border-radius: 0.7rem;
}

.dashboard__item--card {
  box-shadow: inset 0 0 0 4px var(--dashboard-bg);
  padding: 4px;
  background-color: var(--bodybg);
  max-width: calc(100% - 8px);
  border-radius: 0.75rem;
  overflow: hidden;
}

.dashboard__item--card header {
  border-bottom: 2px solid var(--dashboard-bg);
}

.dashboard__item--card header:first-child {
  margin: -4px -4px 0 -4px;
}

.dashboard__item--card header:last-child {
  margin: 0 -4px -4px -4px;
}


.dashboard__item--card header h2 {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 0;
  background-color: var(--dashboard-bg);
  color: var(--dashboard-text);
}

.dashboard__item--card>div {
  padding: 1rem;
}

.dashboard__item--card div :last-child {
  margin-bottom: 0;
}

.dashboard__item--center {
  text-align: center;
  justify-content: center;
  display: flex;
}

.dashboard__item--neocities {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: var(--accent);
  position: relative;
  border-radius: 0.75rem;
  padding: 0.3rem;
}

.dashboard__item--neocities p.small {
  margin: 0;
  font-size: 0.6rem;
  line-height: 1;
  color: var(--accentcontrast);
}

.dashboard__item--neocities img {
  max-height: 50px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

.dashboard__item--neocities h2 {
  margin-bottom: 0.2rem;
  line-height: 1;
  font-size: 1rem;
  font-weight: 400;
}

.dashboard__item--neocities a {
  color: var(--accentcontrast);
}

.dashboard__item--neocities a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dashboard__item--gallery,
.gallery {
  image-rendering: crisp-edges;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.dashboard__item--gallery img,
.gallery img {
  height: auto;
  width: 100%;
  border-radius: 0.75rem;
}

.dashboard__item--latestposts .description {
  font-size: 85%;
  margin-bottom: 0rem;
  background: var(--bg);
  padding: 0.5rem;
  margin-top: 3px;
  border-radius: 0.75rem;
}

.dashboard__item--latestposts .description>ul,
.dashboard__item--latestposts .description>ol {
  padding: 0;
  margin: 0;
}

.dashboard__item--latestposts .description>ul li::marker,
.dashboard__item--latestposts .description>ol li::marker {
  content: '';
}

.dashboard__item--latestposts .description code,
.dashboard__item--latestposts .description pre {
  font-size: inherit;
  padding: 0.1rem 0.2rem 0.2rem 0.2rem;
}