.dashboard {
  column-width: 250px;
  gap: 1rem;
  width: 100%;
  font-size: 90%;
  max-width: 1000px;
  /* height: 100%; */
}

.dashboard.w-100 {
  max-width: 100%;
}

.dashboard__item {
  width: 100%;
  margin-bottom: 1rem;
  break-inside: avoid;
}

.dashboard__item.--box {
  box-shadow: inset 0 0 0 4px var(--dashboard-bg), 4px 4px 0 0 var(--dashboard-outline);
  padding: 4px;
}

.dashboard__item.--box header {
  border-bottom: 2px solid var(--dashboard-bg);
}

.dashboard__item.--box header h2 {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 0;
  background-color: var(--dashboard-bg);
}

.dashboard__item.--box>div {
  padding: 1rem;
}

.dashboard__item.--box div :last-child {
  margin-bottom: 0;
}

.dashboard__item.--center {
  text-align: center;
  justify-content: center;
  display: flex;
}

.dashboard__item.--spotify {
  background-color: #cd379e;
  background-image: linear-gradient(to bottom, #cd379e, #b8318e);
}

.dashboard__item.--neocities {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: var(--accent);
  position: relative;
  border-radius: 4px;
}
.dashboard__item.--neocities p.small {
  margin: 0;
  font-size: 60%;
  color: var(--bg);
}
.dashboard__item.--neocities img {
  max-height: 50px;
  padding: 0.3rem;
}
.dashboard__item.--neocities a {
  color: var(--bg);
  font-size: 110%;
}
.dashboard__item.--neocities a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dashboard__item.--gallery,
.gallery {
  image-rendering: crisp-edges;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.dashboard__item.--colours ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.dashboard__item.--colours li {
  aspect-ratio: 1;
}

.dashboard__item.--latestposts .description {
  font-size: 15px;
  margin-bottom: 0rem;
  background: var(--bodybg);
  padding: 0.5rem;
  margin-top: 3px
}
.dashboard__item.--latestposts .description>ul,
.dashboard__item.--latestposts .description>ol {
  list-style: none;
  padding: 0;
  margin: 0;
}