.dashboard {
  column-width: 400px;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 90%;
}

@media (min-width: 1435px) {
  .dashboard {
    column-width: 325px;
  }
}

.dashboard--fade {
  animation: fadeIn forwards 1s;
}

.dashboard.w-100 {
  max-width: 100%;
}

.dashboard__item {
  width: 100%;
  margin-bottom: 1rem;
  break-inside: avoid;
}

.dashboard__item-image {
  background-color: var(--dashboard-header-bg);
}

.dashboard__item-image img {
  border-radius: 0.7rem;
}

.dashboard__item--card {
  background-color: var(--bodybg);
  max-width: 100%;
  border-radius: 0.75rem;
  overflow: hidden;
}

.dashboard__item--card header h2 {
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 0;
  background-color: var(--dashboard-header-bg);
  color: var(--dashboard-text);
}

.dashboard__item--card>div {
  padding: 1rem;
}

.dashboard__item--card div :last-child {
  margin-bottom: 0;
}

.dashboard__item--center {
  text-align: center;
  justify-content: center;
  display: flex;
}

.dashboard__item--gallery,
.gallery {
  image-rendering: crisp-edges;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.dashboard__item--gallery figure,
.gallery figure {
  aspect-ratio: 1 / 1;
}

.dashboard__item--gallery img,
.gallery img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
}

.dashboard__item--latestposts .description {
  font-size: 90%;
  margin-bottom: 0rem;
  background: var(--bg);
  padding: 0.5rem;
  margin-top: 3px;
  border-radius: 0.375rem;
  line-height: 1.2;
}

.dashboard__item--latestposts .description>ul,
.dashboard__item--latestposts .description>ol {
  padding: 0;
  margin: 0;
}

.dashboard__item--latestposts .description>ul li::marker,
.dashboard__item--latestposts .description>ol li::marker {
  content: '';
}

.dashboard__item--latestposts .description code,
.dashboard__item--latestposts .description pre {
  font-size: inherit;
  padding: 0.1rem 0.2rem 0.2rem 0.2rem;
}

.dashboard__item--latestposts .description a,
.dashboard__item--latestposts .description a:visited {
  text-decoration: inherit;
  color: inherit;
}

.dashboard__item--latestposts .description a:hover,
.dashboard__item--latestposts .description a:focus,
.dashboard__item--latestposts .description a:active {
  color: var(--linkhover);
  text-decoration: underline wavy 2px;
}