.grid {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .grid {
    gap: 24px;
    flex-wrap: nowrap;
  }
}

.grid--offset {
  margin-left: 0;
}

.page__logo,
.content__sidebar {
  width: 100%;
  flex: 0 0 100%;
}

.content__sidebar {
  height: auto;
}

@media (min-width: 992px) {
  .grid--offset {
    margin-left: calc(240px + 24px);
  }

  .page__logo,
  .content__sidebar {
    width: 240px;
    flex: 0 0 240px;
  }
}

.content__main {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  gap: 26px;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .content__main {
    min-height: 70vh;
    flex-wrap: nowrap;
  }
}

.content__inner {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  flex-direction: column;
}

.content__extra {
  width: 100%;
  flex: 0 0 100%;
  font-size: 80%;
}

@media (min-width: 768px) {
  .content__extra {
    width: 200px;
    flex: 0 0 200px;
  }
}

.content__extra:empty {
  width: 0;
  flex: 0 0 0;
}