{% extends "structure/templates/page-3col.njk" %}
{% import "structure/components/components.njk" as macro with context %}

{%- block left -%}
    {% if pics %}
    {%- for pic in pics %}
    <img src="{{ pic.src }}" alt="{{ pic.alt }}" class="mw-90">
    {%- endfor %}
    {% endif %}
{%- endblock -%}

{%- block main -%}
    <article class="full-width">
        <header class="mb-2 reading-width">
            {% if tags.includes("changelog") %}
            <h1>{{ page.date | readableDate }}</h1>
            {% else %}
            <h1>{{title|safe}}</h1>
            {% endif %}

            {% if tags.includes("posts") %}
            <small>Written on <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
            {% if updated %} and last modified on {{updated | readableDate }}{%endif%}
            </small>
            {% endif %}
        </header>
        <div class="reading-width{% if tags.includes("weeknotes") %} h-sm{% endif %}">
            {{ content | safe }}
        </div>
    </article>
{%- endblock -%}

{%- block right -%}
    {% if recipe %}
    <ul class="unstyled">
        {% if recipe.time %}
        <li>⏰ Recipe time: {{recipe.time}}</li>
        {% endif %}
        {% if recipe.cooking %}
        <li>🔥 Cooking time:  {{recipe.cooking}}</li>
        {% endif %}
        {% if recipe.tools %}
        <li>🥣 Tools: {{recipe.tools}}</li>
        {% endif %}
    </ul>
    {% endif %}
{%- endblock -%}