{% extends "structure/templates/page-2col.njk" %}
{% import "structure/components/components.njk" as macro with context %}

{%- block left -%}
    {% if pics %}
    {%- for pic in pics %}
    <img src="{{ pic.src }}" alt="{{ pic.alt }}" class="mw-90">
    {%- endfor %}
    {% endif %}
{%- endblock -%}

{%- block main -%}
    <article class="full-width h-entry">
        <header class="mb-2 reading-width">
            {% if tags.includes("changelog") %}
            <h1 class="p-name">{{ page.date | readableDate }}</h1>
            {% else %}
            <h1 class="p-name">{{title | safe}}</h1>
            {% endif %}
            <details hidden>
                <div class="p-author h-card">
                    <a class="p-author" href="{{metadata.url + page.url}}" rel="me">Frills</a>
                    <p class="p-summary">{{description}}</p>
                </div>
            </details>

            {% if tags.includes("posts") %}
            <small>Written on <time datetime="{{ page.date | htmlDateString }}" class="dt-published">{{ page.date | readableDate }}</time>
            {% if updated %} and last modified on <time datetime="{{ updated | htmlDateString }}" class="dt-updated">{{ updated | readableDate }}</time>{%endif%}
            </small>
            {% endif %}
        </header>
        <div class="reading-width e-content">
            {{ content | safe }}
        </div>
        <h2 class="visually-hidden">Kudos</h2>
        <button class="button ghost large tinylytics_kudos"></button>
    </article>

    {% set mentions = webmentions.children | getWebmentionsForUrl(metadata.url + page.url) %}
    <aside class="webmentions reading-width">
        <h2>Webmentions</h2>
        {% if mentions | length %}
        <ol class="unstyled">
            {% for mention in mentions %}
            <li>
                {% if mention['wm-property'] == "like-of" %}
                💖
                {% elseif mention['wm-property'] == "mention-of" %}
                ✏️
                {% else %}
                🗨️
                {% endif %}
                <a href="{{mention.url}}">
                    {%- if mention.author.name -%}
                    {{mention.author.name}}
                    {%- else -%}
                    {{mention.url}}
                    {%- endif -%}
                </a>
            </li>
            {% endfor %}
        </ol>
        {% endif%}
        <form class="webmentions__form" action="https://webmention.io/frills.dev/webmention" method="post">
            <label for="form-webmention-source">Have you published your own post mentioning this one? Let me know the URL</label>
            <div class="webmentions__formgroup">
                <input id="form-webmention-source" type="url" name="source" placeholder="https://your-website.com/blog-post" required="required"> <input type="hidden" name="target" value="{{metadata.url + page.url}}">
                <button type="submit">Send</button>
            </div>
            <em class="small formhelp pt-1 d-b">Please note that a webmention has been sent when the form submission takes you to a page that says 'pending'. Also webmentions do not publish instantly 🙂</em>
        </form>
    </aside>
{%- endblock -%}