{% extends "structure/templates/page-3col.njk" %}

{% block main %}
	<h1>{{title}}</h1>

	<a href="#postlist" class="visually-hidden">Skip past tags</a>

	<ul class="unstyled inline">
		{% for tag in collections.tagList %}
			{% set tagUrl %}/tags/{{ tag.tagName | slugify }}/{% endset %}
			{% if  (tag.tagName != "posts") 
				and (tag.tagName != "changelog")
				and (tag.tagName != "experiments") %}
			<li><a href="{{ tagUrl }}" class="tag">{{ tag.tagName }}<sup>{{tag.tagCount}}</sup></a></li>
			{% endif %}
		{% endfor %}
	</ul>

	<ol reversed class="listing stars" id="postlist">
	{% for post in postslist | reverse %}
		
		<li {% if post.data.draft %}class="draft"{% endif %}>
			<a href="{{ post.url }}">{% if post.data.title %}{{ post.data.title | safe }}{% else %}{{ post.url }}{% endif %}</a>
			
			<time datetime="{{ post.date | htmlDateString }}"> {{ post.date | readableDate("d LLL yyyy") }}</time>
		</li>
	{% endfor %}
	</ol>
{% endblock %}