{% extends "structure/templates/page-full.njk" %}

{% block main %}
	{% if description %}
		<p>{{description}}</p>
	{% endif %}
	<section class="curios cards pt-1">
		{% for curios in postslist | reverse %}
			<article id="{{ curios.data.title | slugify }}" class="card">
				<div class="card__content">
					<a href="{{ curios.url | url}}" class="card__title">{{curios.data.title | safe}}</a>
					{% if curios.data.description %}
					<p class="card__description">{{curios.data.description | safe }}</p>
					{% endif %}
				</div>
			</article>
		{% endfor %}
	</section>
{% endblock %}