{% extends "core/base.njk" %}

{%- block main -%}

    {% import "_includes/_components/components.njk" as macro with context %}

    {%- css "defer" %}

    {% endcss %}

    <article class="article">
        {{ macro.header(title, description) }}

        <ul class="post-metadata unstyled">
            <li>Written on <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
            {% if tags %}
            <li>Tags:
                {%- for tag in tags | filterTagList %}
                {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                {# <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %} #}
                <span class="post-tag">{{ tag }}</span>{%- if not loop.last %}, {% endif %}
                {%- endfor %}
            </li>
            {% endif %}
        </ul>
        {{ content | safe }}

    </article>

    {%- if collections.posts %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem %}
    {%- set nextPost = collections.posts | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
    <nav aria-label="Post">
        <ul class="links-nextprev unstyled">
            {%- if previousPost %}<li class="links-prev">
            <span class="sronly">Previous:</span> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% else %}<li></li>{% endif %}
            {%- if nextPost %}<li class="links-next"><span class="sronly">Next:</span> <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% else %}<li></li>{% endif %}
        </ul>
    </nav>
    {%- endif %}
    {%- endif %}
{%- endblock -%}
