{% extends "core/base.njk" %}

{%- block left -%}
    {% import "_includes/_components/components.njk" as macro with context %}
    {%- block leftContent -%}
        {{ content | safe }}
    {%- endblock -%}
{%- endblock -%}

{%- block main -%}
    {% import "_includes/_components/components.njk" as macro with context %}
    {%- block mainContent -%}
        {{ content | safe }}
    {%- endblock -%}
{%- endblock -%}

{%- block right -%}
    {% import "_includes/_components/components.njk" as macro with context %}
    {%- block rightContent -%}
        {{ content | safe }}
    {%- endblock -%}
{%- endblock -%}

{%- block bottom -%}
      {% import "_includes/_components/components.njk" as macro with context %}
    {%- block bottomContent -%}
        {{ content | safe }}
    {%- endblock -%}
{%- endblock %}
