<script src="/js/sparkles.js"></script>
<script src="/js/main.js"></script>
<script data-goatcounter="https://frills.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
{% if scripts -%}
{{scripts|safe}}
{%- endif %}
</body>
</html>