<script src="/js/sparkles.js"></script>
<script src="/js/main.js"></script>
<script src="/js/theme.js"></script>
<script src="https://tinylytics.app/embed/81AsSQ65Uii1Jszrzzcs.js?hits&kudos" defer></script>
{% if scripts -%}
{{scripts|safe}}
{%- endif %}
</body>
</html>