{% include "structure/core/_template-start.njk" %}

<body>
    <a href="#main" id="top" class="visually-hidden skiptomain">Skip to main content</a>
    <script>0</script>
    <div class="page">
        {% include "structure/global/header.njk" %}
        {%- block content -%}
                {{- content | safe -}}
        {%- endblock -%}
        {% include "structure/global/footer.njk" %}
    </div>

    <script src="/js/main.js"></script>
    {%- block scripts -%}
        {{- content | safe -}}
    {%- endblock -%}
</body>

{% include "structure/core/_template-end.njk" %}