{% include "structure/core/_template-start.njk" %}

    <a href="#main" id="top" class="visually-hidden skiptomain">Skip to main content</a>
    <script>0</script>
    <div class="page">
        {% include "structure/global/header.njk" %}
        {%- block content -%}
                {{- content | safe -}}
        {%- endblock -%}
    </div>
    {% include "structure/global/footer.njk" %}

{% include "structure/core/_template-end.njk" %}